workflows/2026/05/daAKqQ7D3GRnIcuR.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-05-04T10:41:45.000Z",
    "createdAt": "2026-05-04T10:41:18.883Z",
    "versionId": "5299c70f-68fd-466c-b31e-c8ca6d172b69",
    "workflowId": "daAKqQ7D3GRnIcuR",
    "nodes": [
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "30d4f694-9378-42b4-b1d5-cbc38fb3e7fe",
                "operator": {
                  "type": "dateTime",
                  "operation": "after"
                },
                "leftValue": "={{ $json.pubDate }}",
                "rightValue": "={{ $today.minus({ days: 1 }) }}"
              }
            ]
          },
          "options": {}
        },
        "id": "810a8040-2bfc-4125-9c5d-273e089a857c",
        "name": "Filter",
        "type": "n8n-nodes-base.filter",
        "position": [
          1008,
          544
        ],
        "typeVersion": 2.2
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "e2ffe594-180d-4e1d-b869-8056ac67015d",
                "name": "title",
                "type": "string",
                "value": "={{ $json.title }}"
              },
              {
                "id": "87c5a171-9ab9-4043-a72a-32aec218fe63",
                "name": "pubDate",
                "type": "string",
                "value": "={{ $json.pubDate }}"
              },
              {
                "id": "978b05c9-6e6b-4a18-bc06-4de785b19413",
                "name": "conteudo",
                "type": "string",
                "value": "={{ $json['content:encoded'] }}"
              }
            ]
          },
          "options": {}
        },
        "id": "ffe9e174-749f-4864-8402-629e5a850961",
        "name": "Edit Fields",
        "type": "n8n-nodes-base.set",
        "position": [
          592,
          464
        ],
        "typeVersion": 3.4
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "e2ffe594-180d-4e1d-b869-8056ac67015d",
                "name": "title",
                "type": "string",
                "value": "={{ $json.title }}"
              },
              {
                "id": "87c5a171-9ab9-4043-a72a-32aec218fe63",
                "name": "pubDate",
                "type": "string",
                "value": "={{ $json.pubDate }}"
              },
              {
                "id": "bae1b890-716b-442c-8714-b4ece09063d7",
                "name": "conteudo",
                "type": "string",
                "value": "={{ $json.contentSnippet }}"
              }
            ]
          },
          "options": {}
        },
        "id": "22d05f1c-7c65-4226-b842-e3a357994615",
        "name": "Edit Fields1",
        "type": "n8n-nodes-base.set",
        "position": [
          592,
          672
        ],
        "typeVersion": 3.4
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "e2ffe594-180d-4e1d-b869-8056ac67015d",
                "name": "title",
                "type": "string",
                "value": "={{ $json.title }}"
              },
              {
                "id": "87c5a171-9ab9-4043-a72a-32aec218fe63",
                "name": "pubDate",
                "type": "string",
                "value": "={{ $json.pubDate }}"
              },
              {
                "id": "978b05c9-6e6b-4a18-bc06-4de785b19413",
                "name": "conteudo",
                "type": "string",
                "value": "={{ $json.contentSnippet }}"
              }
            ]
          },
          "options": {}
        },
        "id": "5ebcfd94-fa94-46cb-b4ff-a487af4520c2",
        "name": "Edit Fields2",
        "type": "n8n-nodes-base.set",
        "position": [
          592,
          880
        ],
        "typeVersion": 3.4
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "e2ffe594-180d-4e1d-b869-8056ac67015d",
                "name": "title",
                "type": "string",
                "value": "={{ $json.title }}"
              },
              {
                "id": "87c5a171-9ab9-4043-a72a-32aec218fe63",
                "name": "pubDate",
                "type": "string",
                "value": "={{ $json.pubDate }}"
              },
              {
                "id": "978b05c9-6e6b-4a18-bc06-4de785b19413",
                "name": "conteudo",
                "type": "string",
                "value": "={{ $json.content }}"
              }
            ]
          },
          "options": {}
        },
        "id": "5e2f2364-a0a0-4a93-99ec-d1c477c7e6bc",
        "name": "Edit Fields3",
        "type": "n8n-nodes-base.set",
        "position": [
          592,
          240
        ],
        "typeVersion": 3.4
      },
      {
        "parameters": {
          "numberInputs": 4
        },
        "id": "a9600807-9562-4ddc-a830-b18b81daffe4",
        "name": "Merge",
        "type": "n8n-nodes-base.merge",
        "position": [
          816,
          528
        ],
        "typeVersion": 3.1
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "value": "gpt-5-nano",
            "mode": "list",
            "cachedResultName": "GPT-5-NANO"
          },
          "messages": {
            "values": [
              {
                "content": "Ich habe 10 Nachrichtenartikel per RSS erhalten. Bitte analysiere diese und erstelle eine kurze Zusammenfassung der  5  - 7  wichtigsten Highlights.\n\nZiel ist ein schneller Überblick darüber, welche Themen in den Artikeln am relevantesten sind.\n\naber nimm immer aus allen feed etwas\n\nAusserdem von wo sie kommen",
                "role": "system"
              },
              {
                "content": "={{ \n\"Hier sind die RSS-Artikel als JSON:\\n\\n\" + JSON.stringify($json.data, null, 2) + \n\"\\n\\nBitte analysiere diese Artikel und erstelle eine kurze Zusammenfassung der 3 bis 5 wichtigsten Highlights.\"\n}}",
                "role": "system"
              }
            ]
          },
          "options": {}
        },
        "id": "39c8f94b-27ba-4676-9197-e87a493bcae6",
        "name": "OpenAI",
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "position": [
          1600,
          528
        ],
        "typeVersion": 1.8,
        "credentials": {
          "openAiApi": {
            "id": "EVf6W0jyq4ACcS36",
            "name": "OpenAI account"
          }
        }
      },
      {
        "parameters": {
          "maxItems": 20
        },
        "id": "2e096826-70ee-433c-b59b-477eec5c3905",
        "name": "Limit",
        "type": "n8n-nodes-base.limit",
        "position": [
          1216,
          544
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "include": "specifiedFields",
          "fieldsToInclude": "title, pubDate, conteudo",
          "options": {}
        },
        "id": "2910734f-73c3-45c5-9470-5a08868cd66e",
        "name": "Aggregate",
        "type": "n8n-nodes-base.aggregate",
        "position": [
          1408,
          544
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "hours",
                "hoursInterval": 12
              }
            ]
          }
        },
        "id": "fda99f10-0a33-49f3-a46b-37d61567e851",
        "name": "Schedule Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "position": [
          -48,
          528
        ],
        "typeVersion": 1.2
      },
      {
        "parameters": {},
        "id": "1b0fa8c7-bfd8-4267-b9ac-eb3c90b2160d",
        "name": "No Operation, do nothing",
        "type": "n8n-nodes-base.noOp",
        "position": [
          2160,
          544
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "## About Limit\nlimits the analysis to the 10 most recent articles"
        },
        "id": "08cf9756-8407-4b9f-826d-ce21272de911",
        "name": "Sticky Note",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1152,
          720
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "url": "https://www.brainyquote.com/feeds/todays_quote",
          "options": {
            "ignoreSSL": false
          }
        },
        "id": "a747f665-ff17-4972-bb40-28c8251520dd",
        "name": "My RSS 01",
        "type": "n8n-nodes-base.rssFeedRead",
        "position": [
          368,
          240
        ],
        "typeVersion": 1.1,
        "alwaysOutputData": true,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "url": "https://www.heise.de/rss/heise-atom.xml",
          "options": {}
        },
        "id": "ce492fd5-c8f9-4074-a080-56a55fc5074d",
        "name": "My RSS 02",
        "type": "n8n-nodes-base.rssFeedRead",
        "position": [
          368,
          464
        ],
        "typeVersion": 1.1,
        "alwaysOutputData": true,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "url": "https://www.bleepingcomputer.com/feed/",
          "options": {}
        },
        "id": "1418186b-ee9a-480b-93e6-6483014a3ddf",
        "name": "My RSS 03",
        "type": "n8n-nodes-base.rssFeedRead",
        "position": [
          368,
          672
        ],
        "typeVersion": 1.1,
        "alwaysOutputData": true,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "url": "https://newsfeed.zeit.de/",
          "options": {
            "ignoreSSL": false
          }
        },
        "id": "31da3f86-a150-4cd4-83bd-57bcb348f7c3",
        "name": "My RSS 04",
        "type": "n8n-nodes-base.rssFeedRead",
        "position": [
          368,
          880
        ],
        "typeVersion": 1.1,
        "alwaysOutputData": true,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "content": "## About RSS\nYou can add how many RSS you want"
        },
        "id": "a2e2bf11-d56a-470f-b183-751ff5a2d7f9",
        "name": "Sticky Note1",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          320,
          1040
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "## About Resum\nyou can send to your whatsapp api, or email, drive..."
        },
        "id": "55a91be7-2fe8-45ea-9ac5-51e90a9bb2c9",
        "name": "Sticky Note2",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1936,
          816
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "## About Trgger\nSet trigger how you wish"
        },
        "id": "16acc038-b6f3-4a7d-a2d9-415c4287532b",
        "name": "Sticky Note3",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -32,
          720
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "## System message (change if you want)\nI've received 10 news articles via RSS. Please analyze them and provide a concise summary of the top 3 to 5 main highlights. My goal is to get a quick overview of what's most relevant in these articles."
        },
        "id": "47783f2d-e603-4325-9031-09d3eefe9fcd",
        "name": "Sticky Note4",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1600,
          848
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "chatId": "6422093154",
          "text": "={{ $json.message.content }}",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          1904,
          368
        ],
        "id": "505a5ea3-ef32-42cb-93ed-b134c80a9a37",
        "name": "Send a text message",
        "webhookId": "29e1c484-9447-470b-a4e4-b80e5796de8c",
        "credentials": {
          "telegramApi": {
            "id": "qBKlXY3RPqAi76pW",
            "name": "Telegram account"
          }
        }
      }
    ],
    "connections": {
      "Limit": {
        "main": [
          [
            {
              "node": "Aggregate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Filter",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter": {
        "main": [
          [
            {
              "node": "Limit",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI": {
        "main": [
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            },
            {
              "node": "Send a text message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate": {
        "main": [
          [
            {
              "node": "OpenAI",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "My RSS 01": {
        "main": [
          [
            {
              "node": "Edit Fields3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "My RSS 02": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "My RSS 03": {
        "main": [
          [
            {
              "node": "Edit Fields1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "My RSS 04": {
        "main": [
          [
            {
              "node": "Edit Fields2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Edit Fields1": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 2
            }
          ]
        ]
      },
      "Edit Fields2": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 3
            }
          ]
        ]
      },
      "Edit Fields3": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "My RSS 01",
              "type": "main",
              "index": 0
            },
            {
              "node": "My RSS 02",
              "type": "main",
              "index": 0
            },
            {
              "node": "My RSS 03",
              "type": "main",
              "index": 0
            },
            {
              "node": "My RSS 04",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send a text message": {
        "main": [
          []
        ]
      }
    },
    "authors": "Dennis Paun",
    "name": "Version 5299c70f",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "5299c70f-68fd-466c-b31e-c8ca6d172b69",
  "connections": {
    "Limit": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "My RSS 01": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "My RSS 02": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "My RSS 03": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "My RSS 04": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "My RSS 01",
            "type": "main",
            "index": 0
          },
          {
            "node": "My RSS 02",
            "type": "main",
            "index": 0
          },
          {
            "node": "My RSS 03",
            "type": "main",
            "index": 0
          },
          {
            "node": "My RSS 04",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2026-05-04T06:24:36.290Z",
  "id": "daAKqQ7D3GRnIcuR",
  "isArchived": false,
  "meta": {
    "templateId": "4709",
    "templateCredsSetupCompleted": true
  },
  "name": "Daily news digest: summarize RSS feeds with OpenAI and deliver to WhatsApp",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "30d4f694-9378-42b4-b1d5-cbc38fb3e7fe",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              },
              "leftValue": "={{ $json.pubDate }}",
              "rightValue": "={{ $today.minus({ days: 1 }) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "810a8040-2bfc-4125-9c5d-273e089a857c",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "position": [
        1008,
        544
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e2ffe594-180d-4e1d-b869-8056ac67015d",
              "name": "title",
              "type": "string",
              "value": "={{ $json.title }}"
            },
            {
              "id": "87c5a171-9ab9-4043-a72a-32aec218fe63",
              "name": "pubDate",
              "type": "string",
              "value": "={{ $json.pubDate }}"
            },
            {
              "id": "978b05c9-6e6b-4a18-bc06-4de785b19413",
              "name": "conteudo",
              "type": "string",
              "value": "={{ $json['content:encoded'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ffe9e174-749f-4864-8402-629e5a850961",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "position": [
        592,
        464
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e2ffe594-180d-4e1d-b869-8056ac67015d",
              "name": "title",
              "type": "string",
              "value": "={{ $json.title }}"
            },
            {
              "id": "87c5a171-9ab9-4043-a72a-32aec218fe63",
              "name": "pubDate",
              "type": "string",
              "value": "={{ $json.pubDate }}"
            },
            {
              "id": "bae1b890-716b-442c-8714-b4ece09063d7",
              "name": "conteudo",
              "type": "string",
              "value": "={{ $json.contentSnippet }}"
            }
          ]
        },
        "options": {}
      },
      "id": "22d05f1c-7c65-4226-b842-e3a357994615",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "position": [
        592,
        672
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e2ffe594-180d-4e1d-b869-8056ac67015d",
              "name": "title",
              "type": "string",
              "value": "={{ $json.title }}"
            },
            {
              "id": "87c5a171-9ab9-4043-a72a-32aec218fe63",
              "name": "pubDate",
              "type": "string",
              "value": "={{ $json.pubDate }}"
            },
            {
              "id": "978b05c9-6e6b-4a18-bc06-4de785b19413",
              "name": "conteudo",
              "type": "string",
              "value": "={{ $json.contentSnippet }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5ebcfd94-fa94-46cb-b4ff-a487af4520c2",
      "name": "Edit Fields2",
      "type": "n8n-nodes-base.set",
      "position": [
        592,
        880
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e2ffe594-180d-4e1d-b869-8056ac67015d",
              "name": "title",
              "type": "string",
              "value": "={{ $json.title }}"
            },
            {
              "id": "87c5a171-9ab9-4043-a72a-32aec218fe63",
              "name": "pubDate",
              "type": "string",
              "value": "={{ $json.pubDate }}"
            },
            {
              "id": "978b05c9-6e6b-4a18-bc06-4de785b19413",
              "name": "conteudo",
              "type": "string",
              "value": "={{ $json.content }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5e2f2364-a0a0-4a93-99ec-d1c477c7e6bc",
      "name": "Edit Fields3",
      "type": "n8n-nodes-base.set",
      "position": [
        592,
        240
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "id": "a9600807-9562-4ddc-a830-b18b81daffe4",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        816,
        528
      ],
      "typeVersion": 3.1
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5-nano",
          "mode": "list",
          "cachedResultName": "GPT-5-NANO"
        },
        "messages": {
          "values": [
            {
              "content": "Ich habe 10 Nachrichtenartikel per RSS erhalten. Bitte analysiere diese und erstelle eine kurze Zusammenfassung der  5  - 7  wichtigsten Highlights.\n\nZiel ist ein schneller Überblick darüber, welche Themen in den Artikeln am relevantesten sind.\n\naber nimm immer aus allen feed etwas\n\nAusserdem von wo sie kommen",
              "role": "system"
            },
            {
              "content": "={{ \n\"Hier sind die RSS-Artikel als JSON:\\n\\n\" + JSON.stringify($json.data, null, 2) + \n\"\\n\\nBitte analysiere diese Artikel und erstelle eine kurze Zusammenfassung der 3 bis 5 wichtigsten Highlights.\"\n}}",
              "role": "system"
            }
          ]
        },
        "options": {}
      },
      "id": "39c8f94b-27ba-4676-9197-e87a493bcae6",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        1600,
        528
      ],
      "typeVersion": 1.8,
      "credentials": {
        "openAiApi": {
          "id": "EVf6W0jyq4ACcS36",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "maxItems": 20
      },
      "id": "2e096826-70ee-433c-b59b-477eec5c3905",
      "name": "Limit",
      "type": "n8n-nodes-base.limit",
      "position": [
        1216,
        544
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "include": "specifiedFields",
        "fieldsToInclude": "title, pubDate, conteudo",
        "options": {}
      },
      "id": "2910734f-73c3-45c5-9470-5a08868cd66e",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        1408,
        544
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 12
            }
          ]
        }
      },
      "id": "fda99f10-0a33-49f3-a46b-37d61567e851",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -48,
        528
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {},
      "id": "1b0fa8c7-bfd8-4267-b9ac-eb3c90b2160d",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "position": [
        2160,
        544
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## About Limit\nlimits the analysis to the 10 most recent articles"
      },
      "id": "08cf9756-8407-4b9f-826d-ce21272de911",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1152,
        720
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "https://www.brainyquote.com/feeds/todays_quote",
        "options": {
          "ignoreSSL": false
        }
      },
      "id": "a747f665-ff17-4972-bb40-28c8251520dd",
      "name": "My RSS 01",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [
        368,
        240
      ],
      "typeVersion": 1.1,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://www.heise.de/rss/heise-atom.xml",
        "options": {}
      },
      "id": "ce492fd5-c8f9-4074-a080-56a55fc5074d",
      "name": "My RSS 02",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [
        368,
        464
      ],
      "typeVersion": 1.1,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://www.bleepingcomputer.com/feed/",
        "options": {}
      },
      "id": "1418186b-ee9a-480b-93e6-6483014a3ddf",
      "name": "My RSS 03",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [
        368,
        672
      ],
      "typeVersion": 1.1,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://newsfeed.zeit.de/",
        "options": {
          "ignoreSSL": false
        }
      },
      "id": "31da3f86-a150-4cd4-83bd-57bcb348f7c3",
      "name": "My RSS 04",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [
        368,
        880
      ],
      "typeVersion": 1.1,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "## About RSS\nYou can add how many RSS you want"
      },
      "id": "a2e2bf11-d56a-470f-b183-751ff5a2d7f9",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        320,
        1040
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## About Resum\nyou can send to your whatsapp api, or email, drive..."
      },
      "id": "55a91be7-2fe8-45ea-9ac5-51e90a9bb2c9",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1936,
        816
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## About Trgger\nSet trigger how you wish"
      },
      "id": "16acc038-b6f3-4a7d-a2d9-415c4287532b",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -32,
        720
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## System message (change if you want)\nI've received 10 news articles via RSS. Please analyze them and provide a concise summary of the top 3 to 5 main highlights. My goal is to get a quick overview of what's most relevant in these articles."
      },
      "id": "47783f2d-e603-4325-9031-09d3eefe9fcd",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1600,
        848
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chatId": "6422093154",
        "text": "={{ $json.message.content }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1904,
        368
      ],
      "id": "505a5ea3-ef32-42cb-93ed-b134c80a9a37",
      "name": "Send a text message",
      "webhookId": "29e1c484-9447-470b-a4e4-b80e5796de8c",
      "credentials": {
        "telegramApi": {
          "id": "qBKlXY3RPqAi76pW",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "repo_name": "n8n-backup",
  "repo_owner": "D3nP4",
  "repo_path": "workflows/",
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "shared": [
    {
      "updatedAt": "2026-05-04T06:24:36.292Z",
      "createdAt": "2026-05-04T06:24:36.292Z",
      "role": "workflow:owner",
      "workflowId": "daAKqQ7D3GRnIcuR",
      "projectId": "Iyrtd5xOBA8QCG1f"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": [
        0
      ]
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-05-04T10:41:18.883Z",
  "versionId": "5299c70f-68fd-466c-b31e-c8ca6d172b69"
}