workflows/2026/05/Nl6zfj4w8BRbiKqA.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Jeden Abend 20:00 Uhr": {
      "main": [
        [
          {
            "node": "Kontostand abrufen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kontostand abrufen": {
      "main": [
        [
          {
            "node": "Transaktionen heute abrufen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transaktionen heute abrufen": {
      "main": [
        [
          {
            "node": "Daten zusammenfuehren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daten zusammenfuehren": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Telegram Bericht senden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Bericht senden": {
      "main": [
        [
          {
            "node": "HC Ping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-05-30T14:23:51.006Z",
  "id": "Nl6zfj4w8BRbiKqA",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Abend-Finanzanalyse mit Claude",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 20 * * *"
            }
          ]
        }
      },
      "id": "62ac07bb-4438-493c-9c10-4436b110d543",
      "name": "Jeden Abend 20:00 Uhr",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        400,
        1456
      ]
    },
    {
      "parameters": {
        "url": "http://192.168.178.42:3099/balance",
        "options": {}
      },
      "id": "3453c0c4-6fbf-497c-8b21-f56e3f9289ab",
      "name": "Kontostand abrufen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        624,
        1456
      ]
    },
    {
      "parameters": {
        "url": "http://192.168.178.42:3099/transactions/14",
        "options": {}
      },
      "id": "8a8b25ea-38b0-49bc-a81c-147d97ede61a",
      "name": "Transaktionen heute abrufen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        848,
        1456
      ]
    },
    {
      "parameters": {
        "jsCode": "const balanceData = $node['Kontostand abrufen'].json;\nconst txData = $node['Transaktionen heute abrufen'].json;\n\n// Deduplizierung: gesehene Transaktions-IDs speichern\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.seenTxIds) staticData.seenTxIds = [];\n\n// Eindeutige ID pro Transaktion\nconst txId = t => `${t.date}|${t.iban}|${t.amount}|${(t.purpose||'').slice(0,30)}`;\n\n// Nur neue Transaktionen, max. 10\nconst allTx = Array.isArray(txData) ? txData : [];\nconst newTx = allTx.filter(t => !staticData.seenTxIds.includes(txId(t))).slice(0, 10);\n\n// Gesehene IDs aktualisieren (max. 200 merken)\nconst newIds = newTx.map(txId);\nstaticData.seenTxIds = [...staticData.seenTxIds, ...newIds].slice(-200);\n\nconst balanceText = Array.isArray(balanceData)\n  ? balanceData.map(a => `IBAN ...${a.iban.slice(-4)}: ${a.balance.toFixed(2)} EUR`).join('\\n')\n  : JSON.stringify(balanceData);\n\nconst txText = newTx.length > 0\n  ? newTx.map(t => `- ${t.date}: ${t.amount > 0 ? '+' : ''}${t.amount.toFixed(2)} EUR | ${t.applicant_name || 'Unbekannt'} | ${(t.purpose || '').slice(0, 60)}`).join('\\n')\n  : 'Keine neuen Transaktionen seit dem letzten Bericht.';\n\nconst prompt = `Du bist ein persoenlicher Finanzberater. Analysiere die neuen Transaktionen von Dennis und gib eine ehrliche, direkte Bewertung.\n\nAktueller Kontostand:\\n${balanceText}\\n\\nNeue Transaktionen (${newTx.length} Stueck):\\n${txText}\\n\\nBitte analysiere:\\n1. Welche Ausgaben waren SINNVOLL (Notwendigkeiten, gute Investitionen)\\n2. Welche Ausgaben waren VERMEIDBAR (Impulskauefe, Ueberfluss)\\n3. Welche Ausgaben sind OKAY aber koennten optimiert werden\\n4. Gesamtbewertung des heutigen Finanzverhaltens (1-10 Punkte)\\n5. Ein konkreter Tipp fuer morgen um Geld zu sparen\\n\\nHalte die Antwort kurz, praegnant und auf Deutsch. Maximal 400 Woerter.`;\n\nreturn [{json: {prompt, balanceText, txText, txCount: newTx.length}}];"
      },
      "id": "5aef38b2-6860-4f8b-a4ed-dc1c9da89316",
      "name": "Daten zusammenfuehren",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1072,
        1456
      ]
    },
    {
      "parameters": {
        "chatId": "6422093154",
        "text": "=*Finanzanalyse {{ new Date().toLocaleDateString('de-DE') }}*\n\n*Kontostaende:*\n{{ $node['Daten zusammenfuehren'].json.balanceText }}\n\n*Transaktionen heute ({{ $node['Daten zusammenfuehren'].json.txCount }}):*\n{{ $node['Daten zusammenfuehren'].json.txText }}\n\n---\n*Claude Analyse:*\n{{ $json.content[0].text }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "3a315dbb-f570-4f3d-8073-110d20ed1492",
      "name": "Telegram Bericht senden",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1872,
        1456
      ],
      "webhookId": "43823f9c-c98c-4f46-8c24-26936fc75e83",
      "credentials": {
        "telegramApi": {
          "id": "qBKlXY3RPqAi76pW",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "claude-haiku-4-5-20251001",
          "mode": "list",
          "cachedResultName": "claude-haiku-4-5-20251001"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.prompt }}",
              "role": "assistant"
            },
            {
              "content": "={{ $json.balanceText }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1,
      "position": [
        1520,
        1456
      ],
      "id": "f47d0a68-cab1-4413-a600-52a729960cf9",
      "name": "Message a model",
      "credentials": {
        "anthropicApi": {
          "id": "9LB76hvnIilIJdFy",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "35e01210-9ceb-4db1-a42b-5a3f1e2e5b52",
              "leftValue": "={{ $json.txText }}",
              "rightValue": "Keine neuen Transaktionen seit dem letzten Bericht.",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": "={{ false }}",
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1296,
        1456
      ],
      "id": "a948972c-e4c2-43fa-82c1-3625414aaf36",
      "name": "If"
    },
    {
      "id": "hc-ping-9118a502",
      "name": "HC Ping",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        9000,
        0
      ],
      "parameters": {
        "method": "GET",
        "url": "https://hc.paun01.de/ping/9118a502-7fe2-44f6-96de-7c3459e7b42e",
        "options": {
          "continueOnFail": true
        }
      }
    }
  ],
  "pinData": {},
  "repo_name": "n8n-backup",
  "repo_owner": "D3nP4",
  "repo_path": "workflows/",
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "shared": [
    {
      "updatedAt": "2026-05-30T14:23:51.010Z",
      "createdAt": "2026-05-30T14:23:51.010Z",
      "role": "workflow:owner",
      "workflowId": "Nl6zfj4w8BRbiKqA",
      "projectId": "Iyrtd5xOBA8QCG1f"
    }
  ],
  "staticData": {
    "node:Taeglich 08:00 Uhr": {
      "recurrenceRules": []
    },
    "node:Montags 09:00 Uhr": {
      "recurrenceRules": []
    },
    "node:Jeden Abend 20:00 Uhr": {
      "recurrenceRules": []
    },
    "global": {
      "seenTxIds": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-06-11T21:41:31.420Z",
  "versionId": "8f8d9522-7c56-45c8-a50e-3f66762f7f05"
}