workflows/2026/06/e8ZsdZPJXIspK8oo.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-06-15T08:46:21.609Z",
    "createdAt": "2026-06-15T08:46:21.609Z",
    "versionId": "0e2265b4-688e-4f64-bf92-8e943ed59016",
    "workflowId": "e8ZsdZPJXIspK8oo",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "GET",
          "path": "fitness-stats",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "webhook-1",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          0,
          0
        ],
        "webhookId": "901dd6c9-7c14-42cd-8969-f854e9a1f860"
      },
      {
        "parameters": {
          "url": "https://www.strava.com/api/v3/athlete/activities",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "stravaOAuth2Api",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "per_page",
                "value": "100"
              },
              {
                "name": "page",
                "value": "1"
              }
            ]
          },
          "options": {}
        },
        "id": "strava-1",
        "name": "Strava Aktivitäten",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          220,
          0
        ],
        "credentials": {
          "stravaOAuth2Api": {
            "id": "XmPEc4l78f5iHNF7",
            "name": "Strava account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const acts = items.map(i => i.json);\nconst now = new Date();\n\nconst startOfWeek = new Date(now);\nstartOfWeek.setDate(now.getDate() - now.getDay() + (now.getDay() === 0 ? -6 : 1));\nstartOfWeek.setHours(0,0,0,0);\n\nconst startOfMonth = new Date(now.getFullYear(), now.getMonth(), 1);\nconst startOfYear = new Date(now.getFullYear(), 0, 1);\n\nconst sportLabel = (t) => {\n  const map = {Ride:\"Rennrad\",MountainBikeRide:\"MTB\",VirtualRide:\"Virtual Ride\",Run:\"Laufen\",Hike:\"Wandern\",Walk:\"Gehen\",Swim:\"Schwimmen\",WeightTraining:\"Krafttraining\",Workout:\"Workout\"};\n  return map[t] || t;\n};\n\nconst aggregate = (list) => {\n  const byType = {};\n  let totDist=0, totElev=0, totTime=0, totCount=0, totCal=0;\n  for (const a of list) {\n    totDist += a.distance||0;\n    totElev += a.total_elevation_gain||0;\n    totTime += a.moving_time||0;\n    totCount++;\n    totCal += a.kilojoules ? Math.round(a.kilojoules*0.239) : 0;\n    const t = a.sport_type||a.type;\n    if (!byType[t]) byType[t] = {count:0,distance:0,elevation:0,time:0,label:sportLabel(t)};\n    byType[t].count++;\n    byType[t].distance += a.distance||0;\n    byType[t].elevation += a.total_elevation_gain||0;\n    byType[t].time += a.moving_time||0;\n  }\n  return {\n    count: totCount,\n    distanceKm: Math.round(totDist/100)/10,\n    elevationM: Math.round(totElev),\n    timeMin: Math.round(totTime/60),\n    calories: totCal,\n    byType: Object.entries(byType).sort((a,b)=>b[1].distance-a[1].distance).map(([type,d])=>({type,label:d.label,count:d.count,distanceKm:Math.round(d.distance/100)/10,elevationM:Math.round(d.elevation),timeMin:Math.round(d.time/60)}))\n  };\n};\n\nconst daily = [];\nfor (let i = 29; i >= 0; i--) {\n  const d = new Date(now); d.setDate(d.getDate()-i); d.setHours(0,0,0,0);\n  const nd = new Date(d); nd.setDate(d.getDate()+1);\n  const dayActs = acts.filter(a => { const ad = new Date(a.start_date); return ad>=d && ad<nd; });\n  daily.push({\n    date: d.toISOString().slice(0,10),\n    distanceKm: Math.round(dayActs.reduce((s,a)=>s+(a.distance||0),0)/100)/10,\n    count: dayActs.length,\n    calories: dayActs.reduce((s,a)=>s+(a.kilojoules?Math.round(a.kilojoules*0.239):0),0)\n  });\n}\n\nconst weekly = [];\nfor (let i = 7; i >= 0; i--) {\n  const sw = new Date(startOfWeek); sw.setDate(sw.getDate()-i*7);\n  const ew = new Date(sw); ew.setDate(sw.getDate()+7);\n  const wActs = acts.filter(a => { const ad = new Date(a.start_date); return ad>=sw && ad<ew; });\n  weekly.push({\n    week: sw.toISOString().slice(0,10),\n    label: i===0 ? \"Jetzt\" : sw.toLocaleDateString(\"de-DE\",{day:\"2-digit\",month:\"2-digit\"}),\n    distanceKm: Math.round(wActs.reduce((s,a)=>s+(a.distance||0),0)/100)/10,\n    count: wActs.length,\n    timeMin: Math.round(wActs.reduce((s,a)=>s+(a.moving_time||0),0)/60)\n  });\n}\n\nconst recent = acts.slice(0,10).map(a => ({\n  id: a.id,\n  name: a.name,\n  type: a.sport_type||a.type,\n  label: sportLabel(a.sport_type||a.type),\n  date: a.start_date_local||a.start_date,\n  distanceKm: Math.round((a.distance||0)/100)/10,\n  elevationM: Math.round(a.total_elevation_gain||0),\n  timeMin: Math.round((a.moving_time||0)/60),\n  avgSpeedKmh: a.average_speed ? Math.round(a.average_speed*36)/10 : null,\n  avgHr: a.average_heartrate ? Math.round(a.average_heartrate) : null,\n  calories: a.kilojoules ? Math.round(a.kilojoules*0.239) : null,\n  kudos: a.kudos_count||0,\n  stravaUrl: \"https://www.strava.com/activities/\"+a.id\n}));\n\nreturn [{ json: { week: aggregate(acts.filter(a=>new Date(a.start_date)>=startOfWeek)), month: aggregate(acts.filter(a=>new Date(a.start_date)>=startOfMonth)), year: aggregate(acts.filter(a=>new Date(a.start_date)>=startOfYear)), recent, daily, weekly, updatedAt: new Date().toISOString() } }];"
        },
        "id": "code-1",
        "name": "Aggregieren",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          440,
          0
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ JSON.stringify($json) }}",
          "options": {
            "responseCode": 200,
            "responseHeaders": {
              "entries": [
                {
                  "name": "Content-Type",
                  "value": "application/json"
                },
                {
                  "name": "Access-Control-Allow-Origin",
                  "value": "*"
                }
              ]
            }
          }
        },
        "id": "respond-1",
        "name": "Respond",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          660,
          0
        ]
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Strava Aktivitäten",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Strava Aktivitäten": {
        "main": [
          [
            {
              "node": "Aggregieren",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregieren": {
        "main": [
          [
            {
              "node": "Respond",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Dennis Paun",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "activeVersionId": "0e2265b4-688e-4f64-bf92-8e943ed59016",
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Strava Aktivitäten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Strava Aktivitäten": {
      "main": [
        [
          {
            "node": "Aggregieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregieren": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-06-09T21:59:56.157Z",
  "id": "e8ZsdZPJXIspK8oo",
  "isArchived": false,
  "meta": null,
  "name": "Fitness Stats – Strava",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "fitness-stats",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "901dd6c9-7c14-42cd-8969-f854e9a1f860"
    },
    {
      "parameters": {
        "url": "https://www.strava.com/api/v3/athlete/activities",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "stravaOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "per_page",
              "value": "100"
            },
            {
              "name": "page",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "id": "strava-1",
      "name": "Strava Aktivitäten",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        0
      ],
      "credentials": {
        "stravaOAuth2Api": {
          "id": "XmPEc4l78f5iHNF7",
          "name": "Strava account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const acts = items.map(i => i.json);\nconst now = new Date();\n\nconst startOfWeek = new Date(now);\nstartOfWeek.setDate(now.getDate() - now.getDay() + (now.getDay() === 0 ? -6 : 1));\nstartOfWeek.setHours(0,0,0,0);\n\nconst startOfMonth = new Date(now.getFullYear(), now.getMonth(), 1);\nconst startOfYear = new Date(now.getFullYear(), 0, 1);\n\nconst sportLabel = (t) => {\n  const map = {Ride:\"Rennrad\",MountainBikeRide:\"MTB\",VirtualRide:\"Virtual Ride\",Run:\"Laufen\",Hike:\"Wandern\",Walk:\"Gehen\",Swim:\"Schwimmen\",WeightTraining:\"Krafttraining\",Workout:\"Workout\"};\n  return map[t] || t;\n};\n\nconst aggregate = (list) => {\n  const byType = {};\n  let totDist=0, totElev=0, totTime=0, totCount=0, totCal=0;\n  for (const a of list) {\n    totDist += a.distance||0;\n    totElev += a.total_elevation_gain||0;\n    totTime += a.moving_time||0;\n    totCount++;\n    totCal += a.kilojoules ? Math.round(a.kilojoules*0.239) : 0;\n    const t = a.sport_type||a.type;\n    if (!byType[t]) byType[t] = {count:0,distance:0,elevation:0,time:0,label:sportLabel(t)};\n    byType[t].count++;\n    byType[t].distance += a.distance||0;\n    byType[t].elevation += a.total_elevation_gain||0;\n    byType[t].time += a.moving_time||0;\n  }\n  return {\n    count: totCount,\n    distanceKm: Math.round(totDist/100)/10,\n    elevationM: Math.round(totElev),\n    timeMin: Math.round(totTime/60),\n    calories: totCal,\n    byType: Object.entries(byType).sort((a,b)=>b[1].distance-a[1].distance).map(([type,d])=>({type,label:d.label,count:d.count,distanceKm:Math.round(d.distance/100)/10,elevationM:Math.round(d.elevation),timeMin:Math.round(d.time/60)}))\n  };\n};\n\nconst daily = [];\nfor (let i = 29; i >= 0; i--) {\n  const d = new Date(now); d.setDate(d.getDate()-i); d.setHours(0,0,0,0);\n  const nd = new Date(d); nd.setDate(d.getDate()+1);\n  const dayActs = acts.filter(a => { const ad = new Date(a.start_date); return ad>=d && ad<nd; });\n  daily.push({\n    date: d.toISOString().slice(0,10),\n    distanceKm: Math.round(dayActs.reduce((s,a)=>s+(a.distance||0),0)/100)/10,\n    count: dayActs.length,\n    calories: dayActs.reduce((s,a)=>s+(a.kilojoules?Math.round(a.kilojoules*0.239):0),0)\n  });\n}\n\nconst weekly = [];\nfor (let i = 7; i >= 0; i--) {\n  const sw = new Date(startOfWeek); sw.setDate(sw.getDate()-i*7);\n  const ew = new Date(sw); ew.setDate(sw.getDate()+7);\n  const wActs = acts.filter(a => { const ad = new Date(a.start_date); return ad>=sw && ad<ew; });\n  weekly.push({\n    week: sw.toISOString().slice(0,10),\n    label: i===0 ? \"Jetzt\" : sw.toLocaleDateString(\"de-DE\",{day:\"2-digit\",month:\"2-digit\"}),\n    distanceKm: Math.round(wActs.reduce((s,a)=>s+(a.distance||0),0)/100)/10,\n    count: wActs.length,\n    timeMin: Math.round(wActs.reduce((s,a)=>s+(a.moving_time||0),0)/60)\n  });\n}\n\nconst recent = acts.slice(0,10).map(a => ({\n  id: a.id,\n  name: a.name,\n  type: a.sport_type||a.type,\n  label: sportLabel(a.sport_type||a.type),\n  date: a.start_date_local||a.start_date,\n  distanceKm: Math.round((a.distance||0)/100)/10,\n  elevationM: Math.round(a.total_elevation_gain||0),\n  timeMin: Math.round((a.moving_time||0)/60),\n  avgSpeedKmh: a.average_speed ? Math.round(a.average_speed*36)/10 : null,\n  avgHr: a.average_heartrate ? Math.round(a.average_heartrate) : null,\n  calories: a.kilojoules ? Math.round(a.kilojoules*0.239) : null,\n  kudos: a.kudos_count||0,\n  stravaUrl: \"https://www.strava.com/activities/\"+a.id\n}));\n\nreturn [{ json: { week: aggregate(acts.filter(a=>new Date(a.start_date)>=startOfWeek)), month: aggregate(acts.filter(a=>new Date(a.start_date)>=startOfMonth)), year: aggregate(acts.filter(a=>new Date(a.start_date)>=startOfYear)), recent, daily, weekly, updatedAt: new Date().toISOString() } }];"
      },
      "id": "code-1",
      "name": "Aggregieren",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "respond-1",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        660,
        0
      ]
    }
  ],
  "pinData": null,
  "repo_name": "n8n-backup",
  "repo_owner": "D3nP4",
  "repo_path": "workflows/",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2026-06-09T21:59:56.159Z",
      "createdAt": "2026-06-09T21:59:56.159Z",
      "role": "workflow:owner",
      "workflowId": "e8ZsdZPJXIspK8oo",
      "projectId": "Iyrtd5xOBA8QCG1f"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-06-15T08:46:21.608Z",
  "versionId": "0e2265b4-688e-4f64-bf92-8e943ed59016"
}