workflows/2026/06/e8ZsdZPJXIspK8oo.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-06-09T21:59:56.161Z",
    "createdAt": "2026-06-09T21:59:56.161Z",
    "versionId": "88837f1c-e6af-48e6-97fb-c143d7d659e2",
    "workflowId": "e8ZsdZPJXIspK8oo",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "GET",
          "path": "fitness-stats",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "webhook-1",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          0,
          0
        ],
        "webhookId": "901dd6c9-7c14-42cd-8969-f854e9a1f860"
      },
      {
        "parameters": {
          "url": "https://www.strava.com/api/v3/athlete/activities",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "stravaOAuth2Api",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "per_page",
                "value": "100"
              },
              {
                "name": "page",
                "value": "1"
              }
            ]
          },
          "options": {}
        },
        "id": "strava-1",
        "name": "Strava Aktivitäten",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          220,
          0
        ],
        "credentials": {
          "stravaOAuth2Api": {
            "id": "XmPEc4l78f5iHNF7",
            "name": "Strava account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const acts = items.map(i => i.json);\nconst now = new Date();\n\nconst startOfWeek = new Date(now);\nstartOfWeek.setDate(now.getDate() - now.getDay() + (now.getDay() === 0 ? -6 : 1));\nstartOfWeek.setHours(0,0,0,0);\n\nconst startOfMonth = new Date(now.getFullYear(), now.getMonth(), 1);\nconst startOfYear = new Date(now.getFullYear(), 0, 1);\n\nconst sportLabel = (t) => {\n  const map = {Ride:'Rennrad',MountainBikeRide:'MTB',VirtualRide:'Virtual Ride',Run:'Laufen',Hike:'Wandern',Walk:'Gehen',Swim:'Schwimmen',WeightTraining:'Krafttraining',Workout:'Workout'};\n  return map[t] || t;\n};\n\nconst aggregate = (list) => {\n  const byType = {};\n  let totDist=0, totElev=0, totTime=0, totCount=0;\n  for (const a of list) {\n    totDist += a.distance||0;\n    totElev += a.total_elevation_gain||0;\n    totTime += a.moving_time||0;\n    totCount++;\n    const t = a.sport_type||a.type;\n    if (!byType[t]) byType[t] = {count:0,distance:0,elevation:0,time:0,label:sportLabel(t)};\n    byType[t].count++;\n    byType[t].distance += a.distance||0;\n    byType[t].elevation += a.total_elevation_gain||0;\n    byType[t].time += a.moving_time||0;\n  }\n  return {\n    count: totCount,\n    distanceKm: Math.round(totDist/100)/10,\n    elevationM: Math.round(totElev),\n    timeMin: Math.round(totTime/60),\n    byType: Object.entries(byType).sort((a,b)=>b[1].distance-a[1].distance).map(([type,d])=>({type,label:d.label,count:d.count,distanceKm:Math.round(d.distance/100)/10,elevationM:Math.round(d.elevation),timeMin:Math.round(d.time/60)}))\n  };\n};\n\nconst week = acts.filter(a => new Date(a.start_date) >= startOfWeek);\nconst month = acts.filter(a => new Date(a.start_date) >= startOfMonth);\nconst year = acts.filter(a => new Date(a.start_date) >= startOfYear);\n\nconst recent = acts.slice(0,5).map(a => ({\n  id: a.id,\n  name: a.name,\n  type: a.sport_type||a.type,\n  label: sportLabel(a.sport_type||a.type),\n  date: a.start_date_local,\n  distanceKm: Math.round((a.distance||0)/100)/10,\n  elevationM: Math.round(a.total_elevation_gain||0),\n  timeMin: Math.round((a.moving_time||0)/60),\n  avgSpeedKmh: a.average_speed ? Math.round(a.average_speed*36)/10 : null,\n  avgHr: a.average_heartrate ? Math.round(a.average_heartrate) : null,\n  kudos: a.kudos_count||0,\n  stravaUrl: 'https://www.strava.com/activities/'+a.id\n}));\n\nreturn [{ json: { week: aggregate(week), month: aggregate(month), year: aggregate(year), recent, updatedAt: new Date().toISOString() } }];"
        },
        "id": "code-1",
        "name": "Aggregieren",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          440,
          0
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ JSON.stringify($json) }}",
          "options": {
            "responseCode": 200,
            "responseHeaders": {
              "entries": [
                {
                  "name": "Content-Type",
                  "value": "application/json"
                },
                {
                  "name": "Access-Control-Allow-Origin",
                  "value": "*"
                }
              ]
            }
          }
        },
        "id": "respond-1",
        "name": "Respond",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          660,
          0
        ]
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Strava Aktivitäten",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Strava Aktivitäten": {
        "main": [
          [
            {
              "node": "Aggregieren",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregieren": {
        "main": [
          [
            {
              "node": "Respond",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Dennis Paun",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "activeVersionId": "88837f1c-e6af-48e6-97fb-c143d7d659e2",
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Strava Aktivitäten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Strava Aktivitäten": {
      "main": [
        [
          {
            "node": "Aggregieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregieren": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-06-09T21:59:56.157Z",
  "id": "e8ZsdZPJXIspK8oo",
  "isArchived": false,
  "meta": null,
  "name": "Fitness Stats – Strava",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "fitness-stats",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "901dd6c9-7c14-42cd-8969-f854e9a1f860"
    },
    {
      "parameters": {
        "url": "https://www.strava.com/api/v3/athlete/activities",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "stravaOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "per_page",
              "value": "100"
            },
            {
              "name": "page",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "id": "strava-1",
      "name": "Strava Aktivitäten",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        0
      ],
      "credentials": {
        "stravaOAuth2Api": {
          "id": "XmPEc4l78f5iHNF7",
          "name": "Strava account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const acts = items.map(i => i.json);\nconst now = new Date();\n\nconst startOfWeek = new Date(now);\nstartOfWeek.setDate(now.getDate() - now.getDay() + (now.getDay() === 0 ? -6 : 1));\nstartOfWeek.setHours(0,0,0,0);\n\nconst startOfMonth = new Date(now.getFullYear(), now.getMonth(), 1);\nconst startOfYear = new Date(now.getFullYear(), 0, 1);\n\nconst sportLabel = (t) => {\n  const map = {Ride:'Rennrad',MountainBikeRide:'MTB',VirtualRide:'Virtual Ride',Run:'Laufen',Hike:'Wandern',Walk:'Gehen',Swim:'Schwimmen',WeightTraining:'Krafttraining',Workout:'Workout'};\n  return map[t] || t;\n};\n\nconst aggregate = (list) => {\n  const byType = {};\n  let totDist=0, totElev=0, totTime=0, totCount=0;\n  for (const a of list) {\n    totDist += a.distance||0;\n    totElev += a.total_elevation_gain||0;\n    totTime += a.moving_time||0;\n    totCount++;\n    const t = a.sport_type||a.type;\n    if (!byType[t]) byType[t] = {count:0,distance:0,elevation:0,time:0,label:sportLabel(t)};\n    byType[t].count++;\n    byType[t].distance += a.distance||0;\n    byType[t].elevation += a.total_elevation_gain||0;\n    byType[t].time += a.moving_time||0;\n  }\n  return {\n    count: totCount,\n    distanceKm: Math.round(totDist/100)/10,\n    elevationM: Math.round(totElev),\n    timeMin: Math.round(totTime/60),\n    byType: Object.entries(byType).sort((a,b)=>b[1].distance-a[1].distance).map(([type,d])=>({type,label:d.label,count:d.count,distanceKm:Math.round(d.distance/100)/10,elevationM:Math.round(d.elevation),timeMin:Math.round(d.time/60)}))\n  };\n};\n\nconst week = acts.filter(a => new Date(a.start_date) >= startOfWeek);\nconst month = acts.filter(a => new Date(a.start_date) >= startOfMonth);\nconst year = acts.filter(a => new Date(a.start_date) >= startOfYear);\n\nconst recent = acts.slice(0,5).map(a => ({\n  id: a.id,\n  name: a.name,\n  type: a.sport_type||a.type,\n  label: sportLabel(a.sport_type||a.type),\n  date: a.start_date_local,\n  distanceKm: Math.round((a.distance||0)/100)/10,\n  elevationM: Math.round(a.total_elevation_gain||0),\n  timeMin: Math.round((a.moving_time||0)/60),\n  avgSpeedKmh: a.average_speed ? Math.round(a.average_speed*36)/10 : null,\n  avgHr: a.average_heartrate ? Math.round(a.average_heartrate) : null,\n  kudos: a.kudos_count||0,\n  stravaUrl: 'https://www.strava.com/activities/'+a.id\n}));\n\nreturn [{ json: { week: aggregate(week), month: aggregate(month), year: aggregate(year), recent, updatedAt: new Date().toISOString() } }];"
      },
      "id": "code-1",
      "name": "Aggregieren",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "respond-1",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        660,
        0
      ]
    }
  ],
  "pinData": null,
  "repo_name": "n8n-backup",
  "repo_owner": "D3nP4",
  "repo_path": "workflows/",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2026-06-09T21:59:56.159Z",
      "createdAt": "2026-06-09T21:59:56.159Z",
      "role": "workflow:owner",
      "workflowId": "e8ZsdZPJXIspK8oo",
      "projectId": "Iyrtd5xOBA8QCG1f"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-06-09T21:59:56.157Z",
  "versionId": "88837f1c-e6af-48e6-97fb-c143d7d659e2"
}