workflows/2026/06/jDcj3yqWV4ByENUR.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-07-13T21:28:39.112Z",
    "createdAt": "2026-07-13T21:28:39.112Z",
    "versionId": "909d94be-3a51-4092-8f63-9fc5ea463cab",
    "workflowId": "jDcj3yqWV4ByENUR",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "hours",
                "hoursInterval": 6
              }
            ]
          }
        },
        "id": "cron-1",
        "name": "Alle 6h",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.1,
        "position": [
          0,
          0
        ]
      },
      {
        "parameters": {
          "url": "https://finanzen.paun01.de/api/transactions/1",
          "options": {}
        },
        "id": "http-1",
        "name": "Transaktionen heute",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          220,
          0
        ]
      },
      {
        "parameters": {
          "jsCode": "const sd = $getWorkflowStaticData('global');\nconst today = new Date().toISOString().slice(0,10);\n\n// Gesendete Keys nur für heute behalten\nif (!sd.sentKeys || sd.sentDate !== today) {\n  sd.sentKeys = {};\n  sd.sentDate = today;\n}\n\nconst txs = items.map(i => i.json);\nconst big = txs.filter(t => Math.abs(t.amount) >= 50);\nif (!big.length) return [];\n\n// Nur Transaktionen die noch nicht gemeldet wurden\nconst unseen = big.filter(t => {\n  const key = t.date + '|' + t.amount + '|' + (t.applicant_name || '');\n  return !sd.sentKeys[key];\n});\nif (!unseen.length) return [];\n\n// Neue Keys als gesendet markieren\nfor (const t of unseen) {\n  const key = t.date + '|' + t.amount + '|' + (t.applicant_name || '');\n  sd.sentKeys[key] = true;\n}\n\nconst lines = unseen.map(t => {\n  const sign = t.amount > 0 ? '+' : '-';\n  const amt = Math.abs(t.amount).toFixed(2).replace('.', ',');\n  const shop = t.applicant_name || 'Unbekannt';\n  return `${sign}${amt} € — ${shop}`;\n});\nreturn [{ json: { text: '💳 *Große Transaktion:*\\n\\n' + lines.join('\\n') + '\\n\\n_Warst du das?_', count: unseen.length } }];"
        },
        "id": "code-1",
        "name": "Filtern >50€ (dedup)",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          440,
          0
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true
            },
            "conditions": [
              {
                "id": "c1",
                "leftValue": "={{ $json.count }}",
                "rightValue": 0,
                "operator": {
                  "type": "number",
                  "operation": "gt"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "if-1",
        "name": "Hat große Tx?",
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2,
        "position": [
          660,
          0
        ]
      },
      {
        "parameters": {
          "chatId": "6422093154",
          "text": "={{ $json.text }}",
          "additionalFields": {
            "parse_mode": "Markdown"
          }
        },
        "id": "tg-1",
        "name": "Telegram",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          880,
          0
        ],
        "credentials": {
          "telegramApi": {
            "id": "qBKlXY3RPqAi76pW",
            "name": "Telegram account"
          }
        },
        "webhookId": "20f4a6e3-bf83-42b0-a045-c8e58d709395"
      },
      {
        "id": "hc-ping-f4218bca",
        "name": "HC Ping",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          9000,
          0
        ],
        "parameters": {
          "method": "GET",
          "url": "https://hc.paun01.de/ping/f4218bca-8d93-4675-a9af-23302c11f5a2",
          "options": {
            "continueOnFail": true
          }
        }
      }
    ],
    "connections": {
      "Alle 6h": {
        "main": [
          [
            {
              "node": "Transaktionen heute",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Transaktionen heute": {
        "main": [
          [
            {
              "node": "Filtern >50€ (dedup)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filtern >50€ (dedup)": {
        "main": [
          [
            {
              "node": "Hat große Tx?",
              "type": "main",
              "index": 0
            },
            {
              "node": "HC Ping",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Hat große Tx?": {
        "main": [
          [
            {
              "node": "Telegram",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Dennis Paun",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "activeVersionId": "909d94be-3a51-4092-8f63-9fc5ea463cab",
  "connections": {
    "Alle 6h": {
      "main": [
        [
          {
            "node": "Transaktionen heute",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transaktionen heute": {
      "main": [
        [
          {
            "node": "Filtern >50€ (dedup)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtern >50€ (dedup)": {
      "main": [
        [
          {
            "node": "Hat große Tx?",
            "type": "main",
            "index": 0
          },
          {
            "node": "HC Ping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hat große Tx?": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-06-09T22:33:06.322Z",
  "id": "jDcj3yqWV4ByENUR",
  "isArchived": false,
  "meta": null,
  "name": "💳 Große Transaktion Alert (>50€)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "cron-1",
      "name": "Alle 6h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "url": "https://finanzen.paun01.de/api/transactions/1",
        "options": {}
      },
      "id": "http-1",
      "name": "Transaktionen heute",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const sd = $getWorkflowStaticData('global');\nconst today = new Date().toISOString().slice(0,10);\n\n// Gesendete Keys nur für heute behalten\nif (!sd.sentKeys || sd.sentDate !== today) {\n  sd.sentKeys = {};\n  sd.sentDate = today;\n}\n\nconst txs = items.map(i => i.json);\nconst big = txs.filter(t => Math.abs(t.amount) >= 50);\nif (!big.length) return [];\n\n// Nur Transaktionen die noch nicht gemeldet wurden\nconst unseen = big.filter(t => {\n  const key = t.date + '|' + t.amount + '|' + (t.applicant_name || '');\n  return !sd.sentKeys[key];\n});\nif (!unseen.length) return [];\n\n// Neue Keys als gesendet markieren\nfor (const t of unseen) {\n  const key = t.date + '|' + t.amount + '|' + (t.applicant_name || '');\n  sd.sentKeys[key] = true;\n}\n\nconst lines = unseen.map(t => {\n  const sign = t.amount > 0 ? '+' : '-';\n  const amt = Math.abs(t.amount).toFixed(2).replace('.', ',');\n  const shop = t.applicant_name || 'Unbekannt';\n  return `${sign}${amt} € — ${shop}`;\n});\nreturn [{ json: { text: '💳 *Große Transaktion:*\\n\\n' + lines.join('\\n') + '\\n\\n_Warst du das?_', count: unseen.length } }];"
      },
      "id": "code-1",
      "name": "Filtern >50€ (dedup)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-1",
      "name": "Hat große Tx?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        660,
        0
      ]
    },
    {
      "parameters": {
        "chatId": "6422093154",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "tg-1",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        880,
        0
      ],
      "credentials": {
        "telegramApi": {
          "id": "qBKlXY3RPqAi76pW",
          "name": "Telegram account"
        }
      },
      "webhookId": "20f4a6e3-bf83-42b0-a045-c8e58d709395"
    },
    {
      "id": "hc-ping-f4218bca",
      "name": "HC Ping",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        9000,
        0
      ],
      "parameters": {
        "method": "GET",
        "url": "https://hc.paun01.de/ping/f4218bca-8d93-4675-a9af-23302c11f5a2",
        "options": {
          "continueOnFail": true
        }
      }
    }
  ],
  "pinData": null,
  "repo_name": "n8n-backup",
  "repo_owner": "D3nP4",
  "repo_path": "workflows/",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2026-06-09T22:33:06.325Z",
      "createdAt": "2026-06-09T22:33:06.325Z",
      "role": "workflow:owner",
      "workflowId": "jDcj3yqWV4ByENUR",
      "projectId": "Iyrtd5xOBA8QCG1f"
    }
  ],
  "staticData": {
    "node:Alle 6h": {
      "recurrenceRules": [
        0
      ]
    },
    "global": {
      "sentKeys": {},
      "sentDate": "2026-07-16"
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-07-13T21:28:39.111Z",
  "versionId": "909d94be-3a51-4092-8f63-9fc5ea463cab"
}