workflows/2026/06/mmUvk2LofGmHJd4g.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "1. des Monats 9h": {
      "main": [
        [
          {
            "node": "Zeitraum berechnen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zeitraum berechnen": {
      "main": [
        [
          {
            "node": "Immich Fotos letztes Jahr",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Immich Fotos letztes Jahr": {
      "main": [
        [
          {
            "node": "Nachricht bauen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nachricht bauen": {
      "main": [
        [
          {
            "node": "Hat Fotos?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hat Fotos?": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        [
          {
            "node": "HC Ping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-06-09T22:33:35.629Z",
  "id": "mmUvk2LofGmHJd4g",
  "isArchived": false,
  "meta": null,
  "name": "📸 Immich Rückblick – Vor einem Jahr",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 1 * *"
            }
          ]
        }
      },
      "id": "cron-7",
      "name": "1. des Monats 9h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst lastYear = new Date(now);\nlastYear.setFullYear(now.getFullYear() - 1);\nconst from = new Date(lastYear); from.setDate(1);\nconst to = new Date(lastYear); to.setMonth(to.getMonth()+1); to.setDate(0);\nreturn [{ json: { from: from.toISOString(), to: to.toISOString(), month: lastYear.toLocaleDateString('de-DE',{month:'long',year:'numeric'}) } }];"
      },
      "id": "code-7a",
      "name": "Zeitraum berechnen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "url": "=https://fotos.paun01.de/api/search/metadata?takenAfter={{ encodeURIComponent($json.from) }}&takenBefore={{ encodeURIComponent($json.to) }}&withExif=false&page=1&size=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "e2115bc0ab18dc942697cc5652621124866b2ad5430775286ac6913487087b33"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "http-7",
      "name": "Immich Fotos letztes Jahr",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const result = items[0].json;\nconst count = result.assets?.count || result.total || (result.assets?.items?.length) || 0;\nconst month = $('Zeitraum berechnen').first().json.month;\nif (count === 0) return [];\nreturn [{ json: { text: '📸 *Rückblick: Vor einem Jahr*\n\nIm ' + month + ' hast du *' + count + ' Fotos* gemacht!\n\n👉 https://fotos.paun01.de/memory', count } }];"
      },
      "id": "code-7b",
      "name": "Nachricht bauen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-7",
      "name": "Hat Fotos?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        880,
        0
      ]
    },
    {
      "parameters": {
        "chatId": "6422093154",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "tg-7",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1100,
        0
      ],
      "credentials": {
        "telegramApi": {
          "id": "qBKlXY3RPqAi76pW",
          "name": "Telegram account"
        }
      },
      "webhookId": "68260537-f5fb-426e-ad1a-01b1c4cf5f26"
    },
    {
      "id": "hc-ping-f7b088bc",
      "name": "HC Ping",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        9000,
        0
      ],
      "parameters": {
        "method": "GET",
        "url": "https://hc.paun01.de/ping/f7b088bc-581d-45ea-a5e4-30a7f80ef06b",
        "options": {
          "continueOnFail": true
        }
      }
    }
  ],
  "pinData": null,
  "repo_name": "n8n-backup",
  "repo_owner": "D3nP4",
  "repo_path": "workflows/",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2026-06-09T22:33:35.631Z",
      "createdAt": "2026-06-09T22:33:35.631Z",
      "role": "workflow:owner",
      "workflowId": "mmUvk2LofGmHJd4g",
      "projectId": "Iyrtd5xOBA8QCG1f"
    }
  ],
  "staticData": {
    "node:1. des Monats 9h": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-06-11T21:41:09.460Z",
  "versionId": "1c28ae41-9812-43fe-943d-ef3bf92b92c1"
}