workflows/2026/06/OsQLeRd2kk3s10ff.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-06-11T21:23:14.924Z",
    "createdAt": "2026-06-11T21:23:14.924Z",
    "versionId": "75137824-ae85-4469-8172-507819234d8e",
    "workflowId": "OsQLeRd2kk3s10ff",
    "nodes": [
      {
        "id": "sched",
        "name": "Täglich 8 Uhr",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          0,
          0
        ],
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 8 * * *"
              }
            ]
          }
        }
      },
      {
        "id": "get-errors",
        "name": "Fehler letzte 24h",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          220,
          0
        ],
        "parameters": {
          "method": "GET",
          "url": "https://n8n.paun01.de/api/v1/executions",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "status",
                "value": "error"
              },
              {
                "name": "limit",
                "value": "50"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "X-N8N-API-KEY",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIyODVlMTY0MS1lNmZiLTRhMGEtYWFiOS05ZDU1YWNiZjllY2UiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwianRpIjoiMTBjYTZiYWQtNzQ5YS00YWNiLWI5YmMtYjJkYTZjYmU0ODYwIiwiaWF0IjoxNzgwNTA5ODUxfQ.v2vjOVT7dE4iVKFiKdbxZVxsIhZ-fihiDFTul1wRd-0"
              }
            ]
          },
          "options": {
            "continueOnFail": true
          }
        }
      },
      {
        "id": "get-workflows",
        "name": "Aktive Workflows",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          220,
          160
        ],
        "parameters": {
          "method": "GET",
          "url": "https://n8n.paun01.de/api/v1/workflows",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "active",
                "value": "true"
              },
              {
                "name": "limit",
                "value": "50"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "X-N8N-API-KEY",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIyODVlMTY0MS1lNmZiLTRhMGEtYWFiOS05ZDU1YWNiZjllY2UiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwianRpIjoiMTBjYTZiYWQtNzQ5YS00YWNiLWI5YmMtYjJkYTZjYmU0ODYwIiwiaWF0IjoxNzgwNTA5ODUxfQ.v2vjOVT7dE4iVKFiKdbxZVxsIhZ-fihiDFTul1wRd-0"
              }
            ]
          },
          "options": {
            "continueOnFail": true
          }
        }
      },
      {
        "id": "auswerten",
        "name": "Auswerten & Bericht",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          500,
          80
        ],
        "parameters": {
          "jsCode": "const errData = $('Fehler letzte 24h').first().json;\nconst wfData = $('Aktive Workflows').first().json;\n\nconst since = new Date(Date.now() - 24*60*60*1000);\nconst errors = (errData.data || []).filter(e => new Date(e.startedAt) > since);\n\n// Fehler nach Workflow gruppieren\nconst byWf = {};\nfor (const e of errors) {\n  const id = e.workflowId;\n  if (!byWf[id]) byWf[id] = { name: e.workflowData?.name || id, count: 0, last: e.startedAt };\n  byWf[id].count++;\n}\n\nconst activeCount = (wfData.data || []).length;\nconst errorWfs = Object.values(byWf).sort((a,b) => b.count - a.count);\n\nif (errorWfs.length === 0) {\n  return [{ json: { send: false } }];\n}\n\nconst lines = errorWfs.map(w => `❌ *${w.name}* — ${w.count}x Fehler`);\nconst text = `🔍 *n8n Health Report*\\n\\n${lines.join('\\n')}\\n\\n✅ ${activeCount} Workflows aktiv`;\n\nreturn [{ json: { send: true, text } }];"
        }
      },
      {
        "id": "hat-fehler",
        "name": "Fehler vorhanden?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          720,
          80
        ],
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "send-cond",
                "leftValue": "={{ $json.send }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true"
                }
              }
            ],
            "combinator": "and"
          }
        }
      },
      {
        "id": "telegram",
        "name": "Telegram Alert",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          940,
          0
        ],
        "parameters": {
          "resource": "message",
          "operation": "sendMessage",
          "chatId": "6422093154",
          "text": "={{ $json.text }}",
          "additionalFields": {
            "appendAttribution": false,
            "parse_mode": "Markdown"
          }
        },
        "credentials": {
          "telegramApi": {
            "id": "qBKlXY3RPqAi76pW",
            "name": "Telegram account"
          }
        },
        "webhookId": "e17fb1da-f4ff-4cba-a2c7-1ff8d885f3d6"
      }
    ],
    "connections": {
      "Täglich 8 Uhr": {
        "main": [
          [
            {
              "node": "Fehler letzte 24h",
              "type": "main",
              "index": 0
            },
            {
              "node": "Aktive Workflows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fehler letzte 24h": {
        "main": [
          [
            {
              "node": "Auswerten & Bericht",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aktive Workflows": {
        "main": [
          [
            {
              "node": "Auswerten & Bericht",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Auswerten & Bericht": {
        "main": [
          [
            {
              "node": "Fehler vorhanden?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fehler vorhanden?": {
        "main": [
          [
            {
              "node": "Telegram Alert",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      }
    },
    "authors": "Dennis Paun",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "activeVersionId": "75137824-ae85-4469-8172-507819234d8e",
  "connections": {
    "Täglich 8 Uhr": {
      "main": [
        [
          {
            "node": "Fehler letzte 24h",
            "type": "main",
            "index": 0
          },
          {
            "node": "Aktive Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fehler letzte 24h": {
      "main": [
        [
          {
            "node": "Auswerten & Bericht",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aktive Workflows": {
      "main": [
        [
          {
            "node": "Auswerten & Bericht",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auswerten & Bericht": {
      "main": [
        [
          {
            "node": "Fehler vorhanden?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fehler vorhanden?": {
      "main": [
        [
          {
            "node": "Telegram Alert",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "createdAt": "2026-06-11T21:23:14.918Z",
  "id": "OsQLeRd2kk3s10ff",
  "isArchived": false,
  "meta": null,
  "name": "🔍 n8n Health Monitor",
  "nodes": [
    {
      "id": "sched",
      "name": "Täglich 8 Uhr",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "get-errors",
      "name": "Fehler letzte 24h",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        0
      ],
      "parameters": {
        "method": "GET",
        "url": "https://n8n.paun01.de/api/v1/executions",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "error"
            },
            {
              "name": "limit",
              "value": "50"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIyODVlMTY0MS1lNmZiLTRhMGEtYWFiOS05ZDU1YWNiZjllY2UiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwianRpIjoiMTBjYTZiYWQtNzQ5YS00YWNiLWI5YmMtYjJkYTZjYmU0ODYwIiwiaWF0IjoxNzgwNTA5ODUxfQ.v2vjOVT7dE4iVKFiKdbxZVxsIhZ-fihiDFTul1wRd-0"
            }
          ]
        },
        "options": {
          "continueOnFail": true
        }
      }
    },
    {
      "id": "get-workflows",
      "name": "Aktive Workflows",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        160
      ],
      "parameters": {
        "method": "GET",
        "url": "https://n8n.paun01.de/api/v1/workflows",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "active",
              "value": "true"
            },
            {
              "name": "limit",
              "value": "50"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIyODVlMTY0MS1lNmZiLTRhMGEtYWFiOS05ZDU1YWNiZjllY2UiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwianRpIjoiMTBjYTZiYWQtNzQ5YS00YWNiLWI5YmMtYjJkYTZjYmU0ODYwIiwiaWF0IjoxNzgwNTA5ODUxfQ.v2vjOVT7dE4iVKFiKdbxZVxsIhZ-fihiDFTul1wRd-0"
            }
          ]
        },
        "options": {
          "continueOnFail": true
        }
      }
    },
    {
      "id": "auswerten",
      "name": "Auswerten & Bericht",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        80
      ],
      "parameters": {
        "jsCode": "const errData = $('Fehler letzte 24h').first().json;\nconst wfData = $('Aktive Workflows').first().json;\n\nconst since = new Date(Date.now() - 24*60*60*1000);\nconst errors = (errData.data || []).filter(e => new Date(e.startedAt) > since);\n\n// Fehler nach Workflow gruppieren\nconst byWf = {};\nfor (const e of errors) {\n  const id = e.workflowId;\n  if (!byWf[id]) byWf[id] = { name: e.workflowData?.name || id, count: 0, last: e.startedAt };\n  byWf[id].count++;\n}\n\nconst activeCount = (wfData.data || []).length;\nconst errorWfs = Object.values(byWf).sort((a,b) => b.count - a.count);\n\nif (errorWfs.length === 0) {\n  return [{ json: { send: false } }];\n}\n\nconst lines = errorWfs.map(w => `❌ *${w.name}* — ${w.count}x Fehler`);\nconst text = `🔍 *n8n Health Report*\\n\\n${lines.join('\\n')}\\n\\n✅ ${activeCount} Workflows aktiv`;\n\nreturn [{ json: { send: true, text } }];"
      }
    },
    {
      "id": "hat-fehler",
      "name": "Fehler vorhanden?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        720,
        80
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "send-cond",
              "leftValue": "={{ $json.send }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "telegram",
      "name": "Telegram Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        940,
        0
      ],
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "6422093154",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "qBKlXY3RPqAi76pW",
          "name": "Telegram account"
        }
      },
      "webhookId": "e17fb1da-f4ff-4cba-a2c7-1ff8d885f3d6"
    }
  ],
  "pinData": null,
  "repo_name": "n8n-backup",
  "repo_owner": "D3nP4",
  "repo_path": "workflows/",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2026-06-11T21:23:14.921Z",
      "createdAt": "2026-06-11T21:23:14.921Z",
      "role": "workflow:owner",
      "workflowId": "OsQLeRd2kk3s10ff",
      "projectId": "Iyrtd5xOBA8QCG1f"
    }
  ],
  "staticData": {
    "node:Täglich 8 Uhr": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-06-11T21:23:14.918Z",
  "versionId": "75137824-ae85-4469-8172-507819234d8e"
}