workflows/2026/06/zCECRHz1m8O9WN8a.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-06-29T10:07:46.187Z",
    "createdAt": "2026-06-29T10:07:46.187Z",
    "versionId": "1d1c45cd-e233-4dfa-842b-bb0c0422375f",
    "workflowId": "zCECRHz1m8O9WN8a",
    "nodes": [
      {
        "id": "trigger",
        "name": "Täglich 14:00",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          0,
          0
        ],
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 12 * * *"
              }
            ]
          }
        }
      },
      {
        "id": "fetch",
        "name": "Transaktionen 7 Tage",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          220,
          0
        ],
        "parameters": {
          "method": "GET",
          "url": "http://192.168.178.42:3099/transactions/7",
          "options": {
            "response": {
              "response": {
                "fullResponse": true,
                "responseFormat": "json"
              }
            }
          }
        }
      },
      {
        "id": "check",
        "name": "Neues Gehalt prüfen",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          440,
          0
        ],
        "parameters": {
          "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst lastProcessed = staticData.lastSalaryDate || '';\n\n// fullResponse: body enthält den kompletten Array\nconst arr = $input.first().json.body;\n\nconst salary = arr.find(t => {\n  const name = (t.applicant_name || '').toLowerCase();\n  const amt = parseFloat(t.amount || 0);\n  return name.includes('mandala') && amt > 1000 && t.date !== lastProcessed;\n});\n\nif (!salary) return [{ json: { newSalary: false } }];\n\nstaticData.lastSalaryDate = salary.date;\nreturn [{ json: { newSalary: true, salaryAmount: parseFloat(salary.amount), salaryDate: salary.date } }];"
        }
      },
      {
        "id": "if_new",
        "name": "Neues Gehalt?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          660,
          0
        ],
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "leftValue": "={{ $json.newSalary }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true"
                }
              }
            ],
            "combinator": "and"
          }
        }
      },
      {
        "id": "fetch45",
        "name": "Transaktionen 45 Tage",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          880,
          -80
        ],
        "parameters": {
          "method": "GET",
          "url": "http://192.168.178.42:3099/transactions/45",
          "options": {
            "response": {
              "response": {
                "fullResponse": true,
                "responseFormat": "json"
              }
            }
          }
        }
      },
      {
        "id": "balance",
        "name": "Kontostand",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1100,
          -80
        ],
        "parameters": {
          "method": "GET",
          "url": "http://192.168.178.42:3099/balance",
          "options": {
            "response": {
              "response": {
                "fullResponse": true,
                "responseFormat": "json"
              }
            }
          }
        }
      },
      {
        "id": "calc",
        "name": "Fixkosten berechnen",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1320,
          -80
        ],
        "parameters": {
          "jsCode": "const salaryData = $('Neues Gehalt prüfen').first().json;\nconst salaryDate = salaryData.salaryDate;\nconst salary = salaryData.salaryAmount;\nconst salaryDay = new Date(salaryDate).getDate();\n\nconst balArr = $input.first().json.body;\nconst girokonto = balArr.find(a => (a.iban || '').endsWith('7000')) || balArr[0];\nconst currentBalance = parseFloat(girokonto.balance || 0);\n\nconst FIXKOSTEN = [\n  { name: 'Miete (28.)',           amount: 470.00, nurVorDem28: true },\n  { name: 'Allianz Lebensvers.',   amount: 130.00 },\n  { name: 'Iris Moenig (Fahrrad)', amount: 140.00 },\n  { name: 'Canada Life',           amount: 55.94  },\n  { name: 'Telefonica',            amount: 43.23  },\n  { name: 'Vattenfall (Strom)',    amount: 33.00  },\n  { name: 'Martin Paun (Handy)',   amount: 30.00  },\n  { name: 'Debeka KV',             amount: 28.29  },\n  { name: 'ARAG',                  amount: 18.30  },\n  { name: 'Claude Pro',            amount: 19.00  },\n  { name: 'Barmenia',              amount: 4.61   },\n];\n\nconst mieteSchonBezahlt = salaryDay >= 28;\nconst zuReservieren = FIXKOSTEN.filter(f => !(f.nurVorDem28 && mieteSchonBezahlt));\nconst reserve = zuReservieren.reduce((s, f) => s + f.amount, 0);\nconst transferAmount = currentBalance - reserve;\n\nconst fmt = n => n.toLocaleString('de-DE', { minimumFractionDigits: 2, maximumFractionDigits: 2 });\n\nlet msg = '\\u{1F4B0} *Gehaltseingang \\u2013 ' + fmt(salary) + ' \\u20AC*\\n';\nmsg += '\\u{1F3E6} *Kontostand: ' + fmt(currentBalance) + ' \\u20AC*\\n';\nmsg += '\\u{1F4C5} ' + new Date(salaryDate).toLocaleDateString('de-DE') + '\\n\\n';\n\nif (mieteSchonBezahlt) {\n  msg += '\\u2705 *Miete bereits abgebucht*\\n\\n';\n}\n\nmsg += '\\u{1F4CB} *Reserviert f\\u00FCr Folgemonat:*\\n';\nzuReservieren.forEach(f => { msg += '  \\u2022 ' + f.name + ': ' + fmt(f.amount) + ' \\u20AC\\n'; });\nmsg += '  \\u2211 *' + fmt(reserve) + ' \\u20AC*\\n\\n';\nmsg += '\\u{1F4B3} *\\u2192 ' + fmt(transferAmount) + ' \\u20AC auf C24 \\u00FCberweisen*';\n\nreturn [{ json: { message: msg, transferAmount, currentBalance, salary, reserve } }];"
        }
      },
      {
        "id": "telegram",
        "name": "Telegram",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          1540,
          -80
        ],
        "parameters": {
          "resource": "message",
          "operation": "sendMessage",
          "chatId": "6422093154",
          "text": "={{ $json.message }}",
          "additionalFields": {
            "parse_mode": "Markdown",
            "appendAttribution": false
          }
        },
        "credentials": {
          "telegramApi": {
            "id": "qBKlXY3RPqAi76pW",
            "name": "Telegram account"
          }
        },
        "webhookId": "239c4202-3dd2-4daf-bd2a-db78188b0451"
      }
    ],
    "connections": {
      "Transaktionen 7 Tage": {
        "main": [
          [
            {
              "node": "Neues Gehalt prüfen",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Neues Gehalt prüfen": {
        "main": [
          [
            {
              "node": "Neues Gehalt?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Neues Gehalt?": {
        "main": [
          [
            {
              "node": "Transaktionen 45 Tage",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "Transaktionen 45 Tage": {
        "main": [
          [
            {
              "node": "Kontostand",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Kontostand": {
        "main": [
          [
            {
              "node": "Fixkosten berechnen",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fixkosten berechnen": {
        "main": [
          [
            {
              "node": "Telegram",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Täglich 14:00": {
        "main": [
          [
            {
              "node": "Transaktionen 7 Tage",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Dennis Paun",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "activeVersionId": "1d1c45cd-e233-4dfa-842b-bb0c0422375f",
  "connections": {
    "Transaktionen 7 Tage": {
      "main": [
        [
          {
            "node": "Neues Gehalt prüfen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Neues Gehalt prüfen": {
      "main": [
        [
          {
            "node": "Neues Gehalt?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Neues Gehalt?": {
      "main": [
        [
          {
            "node": "Transaktionen 45 Tage",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Transaktionen 45 Tage": {
      "main": [
        [
          {
            "node": "Kontostand",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kontostand": {
      "main": [
        [
          {
            "node": "Fixkosten berechnen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fixkosten berechnen": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Täglich 14:00": {
      "main": [
        [
          {
            "node": "Transaktionen 7 Tage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-06-28T19:37:40.616Z",
  "id": "zCECRHz1m8O9WN8a",
  "isArchived": false,
  "meta": null,
  "name": "💰 Gehaltseingang → C24 Überweisung",
  "nodes": [
    {
      "id": "trigger",
      "name": "Täglich 14:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 12 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "fetch",
      "name": "Transaktionen 7 Tage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        0
      ],
      "parameters": {
        "method": "GET",
        "url": "http://192.168.178.42:3099/transactions/7",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "check",
      "name": "Neues Gehalt prüfen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        0
      ],
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst lastProcessed = staticData.lastSalaryDate || '';\n\n// fullResponse: body enthält den kompletten Array\nconst arr = $input.first().json.body;\n\nconst salary = arr.find(t => {\n  const name = (t.applicant_name || '').toLowerCase();\n  const amt = parseFloat(t.amount || 0);\n  return name.includes('mandala') && amt > 1000 && t.date !== lastProcessed;\n});\n\nif (!salary) return [{ json: { newSalary: false } }];\n\nstaticData.lastSalaryDate = salary.date;\nreturn [{ json: { newSalary: true, salaryAmount: parseFloat(salary.amount), salaryDate: salary.date } }];"
      }
    },
    {
      "id": "if_new",
      "name": "Neues Gehalt?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        660,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.newSalary }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "fetch45",
      "name": "Transaktionen 45 Tage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        -80
      ],
      "parameters": {
        "method": "GET",
        "url": "http://192.168.178.42:3099/transactions/45",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "balance",
      "name": "Kontostand",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        -80
      ],
      "parameters": {
        "method": "GET",
        "url": "http://192.168.178.42:3099/balance",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "calc",
      "name": "Fixkosten berechnen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        -80
      ],
      "parameters": {
        "jsCode": "const salaryData = $('Neues Gehalt prüfen').first().json;\nconst salaryDate = salaryData.salaryDate;\nconst salary = salaryData.salaryAmount;\nconst salaryDay = new Date(salaryDate).getDate();\n\nconst balArr = $input.first().json.body;\nconst girokonto = balArr.find(a => (a.iban || '').endsWith('7000')) || balArr[0];\nconst currentBalance = parseFloat(girokonto.balance || 0);\n\nconst FIXKOSTEN = [\n  { name: 'Miete (28.)',           amount: 470.00, nurVorDem28: true },\n  { name: 'Allianz Lebensvers.',   amount: 130.00 },\n  { name: 'Iris Moenig (Fahrrad)', amount: 140.00 },\n  { name: 'Canada Life',           amount: 55.94  },\n  { name: 'Telefonica',            amount: 43.23  },\n  { name: 'Vattenfall (Strom)',    amount: 33.00  },\n  { name: 'Martin Paun (Handy)',   amount: 30.00  },\n  { name: 'Debeka KV',             amount: 28.29  },\n  { name: 'ARAG',                  amount: 18.30  },\n  { name: 'Claude Pro',            amount: 19.00  },\n  { name: 'Barmenia',              amount: 4.61   },\n];\n\nconst mieteSchonBezahlt = salaryDay >= 28;\nconst zuReservieren = FIXKOSTEN.filter(f => !(f.nurVorDem28 && mieteSchonBezahlt));\nconst reserve = zuReservieren.reduce((s, f) => s + f.amount, 0);\nconst transferAmount = currentBalance - reserve;\n\nconst fmt = n => n.toLocaleString('de-DE', { minimumFractionDigits: 2, maximumFractionDigits: 2 });\n\nlet msg = '\\u{1F4B0} *Gehaltseingang \\u2013 ' + fmt(salary) + ' \\u20AC*\\n';\nmsg += '\\u{1F3E6} *Kontostand: ' + fmt(currentBalance) + ' \\u20AC*\\n';\nmsg += '\\u{1F4C5} ' + new Date(salaryDate).toLocaleDateString('de-DE') + '\\n\\n';\n\nif (mieteSchonBezahlt) {\n  msg += '\\u2705 *Miete bereits abgebucht*\\n\\n';\n}\n\nmsg += '\\u{1F4CB} *Reserviert f\\u00FCr Folgemonat:*\\n';\nzuReservieren.forEach(f => { msg += '  \\u2022 ' + f.name + ': ' + fmt(f.amount) + ' \\u20AC\\n'; });\nmsg += '  \\u2211 *' + fmt(reserve) + ' \\u20AC*\\n\\n';\nmsg += '\\u{1F4B3} *\\u2192 ' + fmt(transferAmount) + ' \\u20AC auf C24 \\u00FCberweisen*';\n\nreturn [{ json: { message: msg, transferAmount, currentBalance, salary, reserve } }];"
      }
    },
    {
      "id": "telegram",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1540,
        -80
      ],
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "6422093154",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "Markdown",
          "appendAttribution": false
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "qBKlXY3RPqAi76pW",
          "name": "Telegram account"
        }
      },
      "webhookId": "239c4202-3dd2-4daf-bd2a-db78188b0451"
    }
  ],
  "pinData": null,
  "repo_name": "n8n-backup",
  "repo_owner": "D3nP4",
  "repo_path": "workflows/",
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "shared": [
    {
      "updatedAt": "2026-06-28T19:37:40.618Z",
      "createdAt": "2026-06-28T19:37:40.618Z",
      "role": "workflow:owner",
      "workflowId": "zCECRHz1m8O9WN8a",
      "projectId": "Iyrtd5xOBA8QCG1f"
    }
  ],
  "staticData": {
    "node:Täglich 09:00": {
      "recurrenceRules": []
    },
    "global": {
      "lastSalaryDate": "2026-06-29"
    },
    "node:Täglich 14:00": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-06-29T10:07:46.187Z",
  "versionId": "1d1c45cd-e233-4dfa-842b-bb0c0422375f"
}