workflows/2026/04/lwZRndS8gjj0wXlf.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-06-16T10:34:39.901Z",
    "createdAt": "2026-06-16T10:34:39.901Z",
    "versionId": "482129a1-fee7-496a-b321-77a3dfaa4ea0",
    "workflowId": "lwZRndS8gjj0wXlf",
    "nodes": [
      {
        "parameters": {
          "options": {}
        },
        "id": "a9ebe2c5-2d8f-4539-8a2b-0ce76b63d5b6",
        "name": "IMAP Trigger",
        "type": "n8n-nodes-base.emailReadImap",
        "typeVersion": 1,
        "position": [
          -928,
          -64
        ],
        "credentials": {
          "imap": {
            "id": "ePxlcawqlUoNKC5W",
            "name": "IMAP account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "return {\n  json: {\n    from: $json.from,\n    subject: $json.subject,\n    text: $json.text || $json.html || '',\n    date: $json.date\n  }\n};"
        },
        "id": "c67a5e7e-2215-4b7a-9c14-a2e6271c935a",
        "name": "Prepare Mail",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -720,
          -64
        ]
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\n\nreturn items.map(item => {\n  let text =\n    item.json.output?.[0]?.content?.[0]?.text ||\n    item.json.message?.content ||\n    item.json.choices?.[0]?.message?.content ||\n    item.json.text ||\n    item.json.content ||\n    '';\n\n  text = String(text)\n    .replace(/```json/g, '')\n    .replace(/```/g, '')\n    .trim();\n\n  if (!text) {\n    throw new Error('Kein KI-Text gefunden. Prüfe den Output vom OpenAI Node.');\n  }\n\n  const match = text.match(/\\{[\\s\\S]*\\}/);\n\n  if (!match) {\n    throw new Error('Kein JSON im KI-Output gefunden: ' + text);\n  }\n\n  const ai = JSON.parse(match[0]);\n\n  return {\n    json: {\n      ...item.json,\n      ai\n    }\n  };\n});"
        },
        "id": "4696755e-53c8-492b-ad03-9320814730f6",
        "name": "Parse AI",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -208,
          -64
        ]
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{$json.ai.priority}}",
                "value2": "kritisch"
              }
            ]
          }
        },
        "id": "ad8aa54a-3e20-49ad-a3db-62647fd70720",
        "name": "IF Critical",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          192,
          -96
        ]
      },
      {
        "parameters": {
          "conditions": {
            "boolean": [
              {
                "value1": "={{$json.ai.notify_user}}",
                "value2": true
              }
            ]
          }
        },
        "id": "e6c047a3-87aa-4235-bd03-1124491194d0",
        "name": "Benachrichtigen?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          80,
          112
        ]
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "value": "gpt-5.4-nano-2026-03-17",
            "mode": "list",
            "cachedResultName": "GPT-5.4-NANO-2026-03-17"
          },
          "responses": {
            "values": [
              {
                "content": "=Du bist ein hochintelligenter E-Mail-Assistent für automatische Verarbeitung in n8n.\n\nDeine Aufgabe:\nAnalysiere eingehende E-Mails und entscheide strukturiert, was zu tun ist.\n\nWICHTIG:\n- Antworte AUSSCHLIESSLICH mit gültigem JSON\n- KEIN Text außerhalb des JSON\n- KEINE Erklärungen\n- KEINE Markdown Blöcke\n\n---\n\nE-Mail:\n\nVon: {{$json.from}}\nBetreff: {{$json.subject}}\n\nInhalt:\n{{$json.text}}\n\n---\n\nGib folgendes JSON zurück:\n\n{\n  \"category\": \"\",\n  \"priority\": \"\",\n  \"needs_reply\": false,\n  \"needs_action\": false,\n  \"deadline\": null,\n  \"summary\": \"\",\n  \"task\": null,\n  \"suggested_reply\": null,\n  \"archive_folder\": \"\",\n  \"notify_user\": false\n}\n\n---\n\nREGELN:\n\nKATEGORIEN (nur eine auswählen):\n- Rechnung\n- Kunde\n- Support\n- Termin\n- Newsletter\n- Privat\n- Spam\n- Vertrag\n- Bank\n- Versicherung\n- Behörde\n- ToDo\n\nPRIORITÄT:\n- niedrig → Newsletter, Werbung\n- normal → Standard Kommunikation\n- hoch → Fristen, Kunden, Rechnungen\n- kritisch → Mahnungen, Kündigungen, Sicherheit, Behörden\n\nneeds_reply:\ntrue → wenn eine Antwort erwartet wird\nfalse → wenn nur Info\n\nneeds_action:\ntrue → wenn du etwas aktiv tun musst (zahlen, reagieren, prüfen)\nfalse → wenn nicht\n\ndeadline:\n- extrahiere Datum wenn vorhanden\n- Format: YYYY-MM-DD\n- sonst: null\n\nsummary:\n- max. 2 Sätze\n- klar und konkret\n\ntask:\n- konkrete Aufgabe formulieren\n- Beispiel: \"Rechnung bezahlen\", \"Antwort an Kunden senden\"\n- sonst: null\n\nsuggested_reply:\n- nur wenn needs_reply = true\n- kurz, professionell, direkt nutzbar\n- keine Platzhalter wie [Name]\n\narchive_folder:\nStruktur:\n<category>/<YYYY-MM>\n\nBeispiel:\nRechnung/2026-04\n\nnotify_user:\ntrue wenn:\n- priority = hoch oder kritisch\n- oder deadline vorhanden\n- oder wichtige Aufgabe\n\nfalse wenn:\n- Newsletter\n- Spam\n- unwichtige Info\n\n---\n\nSONDERREGELN:\n\n- Newsletter IMMER:\n  priority = niedrig\n  notify_user = false\n\n- Rechnungen:\n  needs_action = true\n\n- Behörden / Bank:\n  mindestens priority = hoch\n\n- Wenn unsicher:\n  priority = normal\n\n---\n\nGIB NUR DAS JSON ZURÜCK."
              }
            ]
          },
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 2.1,
        "position": [
          -512,
          -64
        ],
        "id": "fd919d3a-0494-4026-9781-497b873fc3d9",
        "name": "Message a model",
        "credentials": {
          "openAiApi": {
            "id": "EVf6W0jyq4ACcS36",
            "name": "OpenAI account"
          }
        }
      },
      {
        "parameters": {
          "chatId": "6422093154",
          "text": "={{ (() => {\n  const a = $('Parse AI').item.json.ai;\n  const m = $('Prepare Mail').item.json;\n  const icons = { kritisch: '🔴', hoch: '🟠', normal: '🟡', niedrig: '🟢' };\n  const icon = icons[a.priority] || '📧';\n  const prio = (a.priority || 'normal').toUpperCase();\n  let msg = icon + ' *' + prio + ' – ' + (a.category || '–') + '*\\n\\n';\n  msg += '*Von:* ' + (m.from || '–') + '\\n';\n  msg += '*Betreff:* ' + (m.subject || '–') + '\\n\\n';\n  msg += (a.summary || '');\n  if (a.task)            msg += '\\n\\n⚡ *Aktion:* ' + a.task;\n  if (a.deadline)        msg += '\\n📅 *Frist:* ' + a.deadline;\n  if (a.suggested_reply) msg += '\\n\\n💬 *Antwortvorschlag:*\\n_' + a.suggested_reply + '_';\n  return msg;\n})() }}",
          "additionalFields": {},
          "parseMode": "Markdown"
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          320,
          32
        ],
        "id": "57ccdd25-5d3d-4886-8180-803b5a2e137f",
        "name": "Send a text message",
        "webhookId": "80834618-ff1d-4504-88f8-b932ffa965d4",
        "credentials": {
          "telegramApi": {
            "id": "qBKlXY3RPqAi76pW",
            "name": "Telegram account"
          }
        }
      },
      {
        "id": "c73e5e93-3ddd-4a9e-b353-52bc43d51151",
        "name": "Filter selbst-ausgelöst",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -616,
          -64
        ],
        "parameters": {
          "jsCode": "\nconst item = $input.first().json;\nconst subject = (item.subject || '').toLowerCase();\nconst from = (item.from || '').toLowerCase();\nconst text = (item.text || '').toLowerCase();\n\n// Drop: Bestellbestätigungen, Login-Links, Newsletter, eigene Services\nconst skipSubject = [\n  'bestellung', 'bestellbestätigung', 'order confirm', 'order #',\n  'ihre bestellung', 'deine bestellung', 'tracking',\n  'versandbestätigung', 'versand', 'shipment', 'shipped',\n  'magic link', 'login link', 'sign in link', 'anmeldelink',\n  'passwort', 'password reset', 'verify your', 'verifizier',\n  'confirm your email', 'bestätige deine',\n  'abonnement', 'unsubscribe', 'abmelden',\n  'newsletter', 'gutschein', 'rabatt', 'angebot',\n  'rechnung nr.', // auto-generated invoices handled separately\n  'healthchecks', 'n8n', 'paperless', 'immich',\n  'ihr paket', 'dein paket', 'paketnummer'\n];\n\nconst skipFrom = [\n  'noreply', 'no-reply', 'donotreply', 'do-not-reply',\n  'orders@', 'shipping@', 'notifications@', 'mailer@',\n  'amazon.', 'paypal.', 'dhl.', 'dpd.', 'ups.', 'hermes.',\n  'otto.de', 'zalando', 'ebay.', 'idealo',\n  'apple.com', 'google.com', 'microsoft.com',\n  'github.com', 'cloudflare', 'hetzner'\n];\n\nconst matchSubject = skipSubject.some(k => subject.includes(k));\nconst matchFrom   = skipFrom.some(k => from.includes(k));\n\nif (matchSubject || matchFrom) {\n  // Silently drop — return empty array\n  return [];\n}\n\nreturn [$input.first()];\n"
        }
      }
    ],
    "connections": {
      "IMAP Trigger": {
        "main": [
          [
            {
              "node": "Prepare Mail",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Mail": {
        "main": [
          [
            {
              "node": "Filter selbst-ausgelöst",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse AI": {
        "main": [
          [
            {
              "node": "IF Critical",
              "type": "main",
              "index": 0
            },
            {
              "node": "Benachrichtigen?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF Critical": {
        "main": [
          []
        ]
      },
      "Message a model": {
        "main": [
          [
            {
              "node": "Parse AI",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter selbst-ausgelöst": {
        "main": [
          [
            {
              "node": "Message a model",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Benachrichtigen?": {
        "main": [
          [
            {
              "node": "Send a text message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Dennis Paun",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "activeVersionId": "482129a1-fee7-496a-b321-77a3dfaa4ea0",
  "connections": {
    "IMAP Trigger": {
      "main": [
        [
          {
            "node": "Prepare Mail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Mail": {
      "main": [
        [
          {
            "node": "Filter selbst-ausgelöst",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI": {
      "main": [
        [
          {
            "node": "IF Critical",
            "type": "main",
            "index": 0
          },
          {
            "node": "Benachrichtigen?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Critical": {
      "main": [
        []
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Parse AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter selbst-ausgelöst": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Benachrichtigen?": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-04-26T22:05:27.145Z",
  "id": "lwZRndS8gjj0wXlf",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "AI Mail Butler",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "a9ebe2c5-2d8f-4539-8a2b-0ce76b63d5b6",
      "name": "IMAP Trigger",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 1,
      "position": [
        -928,
        -64
      ],
      "credentials": {
        "imap": {
          "id": "ePxlcawqlUoNKC5W",
          "name": "IMAP account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return {\n  json: {\n    from: $json.from,\n    subject: $json.subject,\n    text: $json.text || $json.html || '',\n    date: $json.date\n  }\n};"
      },
      "id": "c67a5e7e-2215-4b7a-9c14-a2e6271c935a",
      "name": "Prepare Mail",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -720,
        -64
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.map(item => {\n  let text =\n    item.json.output?.[0]?.content?.[0]?.text ||\n    item.json.message?.content ||\n    item.json.choices?.[0]?.message?.content ||\n    item.json.text ||\n    item.json.content ||\n    '';\n\n  text = String(text)\n    .replace(/```json/g, '')\n    .replace(/```/g, '')\n    .trim();\n\n  if (!text) {\n    throw new Error('Kein KI-Text gefunden. Prüfe den Output vom OpenAI Node.');\n  }\n\n  const match = text.match(/\\{[\\s\\S]*\\}/);\n\n  if (!match) {\n    throw new Error('Kein JSON im KI-Output gefunden: ' + text);\n  }\n\n  const ai = JSON.parse(match[0]);\n\n  return {\n    json: {\n      ...item.json,\n      ai\n    }\n  };\n});"
      },
      "id": "4696755e-53c8-492b-ad03-9320814730f6",
      "name": "Parse AI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        -64
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.ai.priority}}",
              "value2": "kritisch"
            }
          ]
        }
      },
      "id": "ad8aa54a-3e20-49ad-a3db-62647fd70720",
      "name": "IF Critical",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        192,
        -96
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.ai.notify_user}}",
              "value2": true
            }
          ]
        }
      },
      "id": "e6c047a3-87aa-4235-bd03-1124491194d0",
      "name": "Benachrichtigen?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        80,
        112
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5.4-nano-2026-03-17",
          "mode": "list",
          "cachedResultName": "GPT-5.4-NANO-2026-03-17"
        },
        "responses": {
          "values": [
            {
              "content": "=Du bist ein hochintelligenter E-Mail-Assistent für automatische Verarbeitung in n8n.\n\nDeine Aufgabe:\nAnalysiere eingehende E-Mails und entscheide strukturiert, was zu tun ist.\n\nWICHTIG:\n- Antworte AUSSCHLIESSLICH mit gültigem JSON\n- KEIN Text außerhalb des JSON\n- KEINE Erklärungen\n- KEINE Markdown Blöcke\n\n---\n\nE-Mail:\n\nVon: {{$json.from}}\nBetreff: {{$json.subject}}\n\nInhalt:\n{{$json.text}}\n\n---\n\nGib folgendes JSON zurück:\n\n{\n  \"category\": \"\",\n  \"priority\": \"\",\n  \"needs_reply\": false,\n  \"needs_action\": false,\n  \"deadline\": null,\n  \"summary\": \"\",\n  \"task\": null,\n  \"suggested_reply\": null,\n  \"archive_folder\": \"\",\n  \"notify_user\": false\n}\n\n---\n\nREGELN:\n\nKATEGORIEN (nur eine auswählen):\n- Rechnung\n- Kunde\n- Support\n- Termin\n- Newsletter\n- Privat\n- Spam\n- Vertrag\n- Bank\n- Versicherung\n- Behörde\n- ToDo\n\nPRIORITÄT:\n- niedrig → Newsletter, Werbung\n- normal → Standard Kommunikation\n- hoch → Fristen, Kunden, Rechnungen\n- kritisch → Mahnungen, Kündigungen, Sicherheit, Behörden\n\nneeds_reply:\ntrue → wenn eine Antwort erwartet wird\nfalse → wenn nur Info\n\nneeds_action:\ntrue → wenn du etwas aktiv tun musst (zahlen, reagieren, prüfen)\nfalse → wenn nicht\n\ndeadline:\n- extrahiere Datum wenn vorhanden\n- Format: YYYY-MM-DD\n- sonst: null\n\nsummary:\n- max. 2 Sätze\n- klar und konkret\n\ntask:\n- konkrete Aufgabe formulieren\n- Beispiel: \"Rechnung bezahlen\", \"Antwort an Kunden senden\"\n- sonst: null\n\nsuggested_reply:\n- nur wenn needs_reply = true\n- kurz, professionell, direkt nutzbar\n- keine Platzhalter wie [Name]\n\narchive_folder:\nStruktur:\n<category>/<YYYY-MM>\n\nBeispiel:\nRechnung/2026-04\n\nnotify_user:\ntrue wenn:\n- priority = hoch oder kritisch\n- oder deadline vorhanden\n- oder wichtige Aufgabe\n\nfalse wenn:\n- Newsletter\n- Spam\n- unwichtige Info\n\n---\n\nSONDERREGELN:\n\n- Newsletter IMMER:\n  priority = niedrig\n  notify_user = false\n\n- Rechnungen:\n  needs_action = true\n\n- Behörden / Bank:\n  mindestens priority = hoch\n\n- Wenn unsicher:\n  priority = normal\n\n---\n\nGIB NUR DAS JSON ZURÜCK."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -512,
        -64
      ],
      "id": "fd919d3a-0494-4026-9781-497b873fc3d9",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "EVf6W0jyq4ACcS36",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "6422093154",
        "text": "={{ (() => {\n  const a = $('Parse AI').item.json.ai;\n  const m = $('Prepare Mail').item.json;\n  const icons = { kritisch: '🔴', hoch: '🟠', normal: '🟡', niedrig: '🟢' };\n  const icon = icons[a.priority] || '📧';\n  const prio = (a.priority || 'normal').toUpperCase();\n  let msg = icon + ' *' + prio + ' – ' + (a.category || '–') + '*\\n\\n';\n  msg += '*Von:* ' + (m.from || '–') + '\\n';\n  msg += '*Betreff:* ' + (m.subject || '–') + '\\n\\n';\n  msg += (a.summary || '');\n  if (a.task)            msg += '\\n\\n⚡ *Aktion:* ' + a.task;\n  if (a.deadline)        msg += '\\n📅 *Frist:* ' + a.deadline;\n  if (a.suggested_reply) msg += '\\n\\n💬 *Antwortvorschlag:*\\n_' + a.suggested_reply + '_';\n  return msg;\n})() }}",
        "additionalFields": {},
        "parseMode": "Markdown"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        320,
        32
      ],
      "id": "57ccdd25-5d3d-4886-8180-803b5a2e137f",
      "name": "Send a text message",
      "webhookId": "80834618-ff1d-4504-88f8-b932ffa965d4",
      "credentials": {
        "telegramApi": {
          "id": "qBKlXY3RPqAi76pW",
          "name": "Telegram account"
        }
      }
    },
    {
      "id": "c73e5e93-3ddd-4a9e-b353-52bc43d51151",
      "name": "Filter selbst-ausgelöst",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -616,
        -64
      ],
      "parameters": {
        "jsCode": "\nconst item = $input.first().json;\nconst subject = (item.subject || '').toLowerCase();\nconst from = (item.from || '').toLowerCase();\nconst text = (item.text || '').toLowerCase();\n\n// Drop: Bestellbestätigungen, Login-Links, Newsletter, eigene Services\nconst skipSubject = [\n  'bestellung', 'bestellbestätigung', 'order confirm', 'order #',\n  'ihre bestellung', 'deine bestellung', 'tracking',\n  'versandbestätigung', 'versand', 'shipment', 'shipped',\n  'magic link', 'login link', 'sign in link', 'anmeldelink',\n  'passwort', 'password reset', 'verify your', 'verifizier',\n  'confirm your email', 'bestätige deine',\n  'abonnement', 'unsubscribe', 'abmelden',\n  'newsletter', 'gutschein', 'rabatt', 'angebot',\n  'rechnung nr.', // auto-generated invoices handled separately\n  'healthchecks', 'n8n', 'paperless', 'immich',\n  'ihr paket', 'dein paket', 'paketnummer'\n];\n\nconst skipFrom = [\n  'noreply', 'no-reply', 'donotreply', 'do-not-reply',\n  'orders@', 'shipping@', 'notifications@', 'mailer@',\n  'amazon.', 'paypal.', 'dhl.', 'dpd.', 'ups.', 'hermes.',\n  'otto.de', 'zalando', 'ebay.', 'idealo',\n  'apple.com', 'google.com', 'microsoft.com',\n  'github.com', 'cloudflare', 'hetzner'\n];\n\nconst matchSubject = skipSubject.some(k => subject.includes(k));\nconst matchFrom   = skipFrom.some(k => from.includes(k));\n\nif (matchSubject || matchFrom) {\n  // Silently drop — return empty array\n  return [];\n}\n\nreturn [$input.first()];\n"
      }
    }
  ],
  "pinData": {},
  "repo_name": "n8n-backup",
  "repo_owner": "D3nP4",
  "repo_path": "workflows/",
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "shared": [
    {
      "updatedAt": "2026-04-26T22:05:27.147Z",
      "createdAt": "2026-04-26T22:05:27.147Z",
      "role": "workflow:owner",
      "workflowId": "lwZRndS8gjj0wXlf",
      "projectId": "Iyrtd5xOBA8QCG1f"
    }
  ],
  "staticData": {
    "node:IMAP Trigger": {
      "lastMessageUid": 1404
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-06-16T10:34:39.900Z",
  "versionId": "482129a1-fee7-496a-b321-77a3dfaa4ea0"
}