workflows/2026/04/LZq2tcEIQElLS3dU.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-07-22T06:51:19.429Z",
    "createdAt": "2026-07-22T06:51:19.429Z",
    "versionId": "cede3f45-332c-4a58-b210-73490d00022b",
    "workflowId": "LZq2tcEIQElLS3dU",
    "nodes": [
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "365b229b-173e-44da-89ba-e4208fedc173",
                "name": "=paperless_url",
                "value": "https://paperless.paun01.de",
                "type": "string"
              },
              {
                "id": "0c21042c-3103-45ee-baed-4160adf37a48",
                "name": "paperless_token",
                "value": "54f69347ba18315b156062cf21e1012d7e55c84f",
                "type": "string"
              },
              {
                "id": "7282923e-0ced-48bf-abfd-202440c69b3a",
                "name": "page_size",
                "value": "200",
                "type": "string"
              },
              {
                "id": "6bdc5243-4a3a-4568-913f-1f8f4abf3709",
                "name": "nextcloud_url",
                "value": "http://192.168.178.42:8080/",
                "type": "string"
              },
              {
                "id": "ec867d54-b55e-444d-ac38-0ac1968f47c4",
                "name": "nextcloud_user",
                "value": "n8n",
                "type": "string"
              },
              {
                "id": "fc550aab-6834-4ccf-8239-05b046178310",
                "name": "nextcloud_password",
                "value": "Klarinette23#",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "9cfc56d9-d230-4b04-9816-76906aaf7fe8",
        "name": "Konfiguration",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2608,
          720
        ]
      },
      {
        "parameters": {
          "url": "={{ $json.paperless_url }}/api/tags/?page_size=200",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Token {{ $json.paperless_token }}"
              }
            ]
          },
          "options": {}
        },
        "id": "1e098c8a-7ef7-492a-858a-49fdd056fa90",
        "name": "Paperless - Tags holen",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2832,
          592
        ]
      },
      {
        "parameters": {
          "url": "={{ $json.paperless_url }}/api/documents/?page_size={{ $json.page_size }}&ordering=-created",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Token {{ $json.paperless_token }}"
              }
            ]
          },
          "options": {}
        },
        "id": "2d2f0330-dff5-4189-9054-a2acbbd2da98",
        "name": "Paperless - Dokumenttypen holen",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2832,
          784
        ]
      },
      {
        "parameters": {
          "url": "={{ $json.paperless_url }}/api/documents/?page_size=200&ordering=-created",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Token {{ $json.paperless_token }}"
              }
            ]
          },
          "options": {}
        },
        "id": "ec5f91f4-48a5-46e8-ac5d-792867a59bb3",
        "name": "Paperless - Dokumente holen",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2832,
          976
        ]
      },
      {
        "parameters": {
          "url": "={{ $('Konfiguration').item.json.paperless_url }}/api/documents/{{ $json.id }}/",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Token {{ $('Konfiguration').item.json.paperless_token }}"
              }
            ]
          },
          "options": {}
        },
        "id": "4ce5202e-0045-44b2-9623-1f89e3d13e4a",
        "name": "Paperless - Dokumentdetails holen",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          3504,
          912
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const text = $json.output?.[0]?.content?.[0]?.text || '';\nconst ai = JSON.parse(text);\nconst previous = $('KI Prompt bauen').first().json;\nconst tagIds = Array.from(new Set([1, ...(ai.tag_ids || [])]));\nreturn { json: { doc_id: previous.doc_id, paperless_url: previous.paperless_url, paperless_token: previous.paperless_token, title: ai.title, tag_ids: tagIds } };"
        },
        "id": "067ef4f9-7206-454d-ab91-803df2f2afd1",
        "name": "KI Ergebnis normalisieren",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          4304,
          912
        ]
      },
      {
        "parameters": {
          "method": "PATCH",
          "url": "={{ $('Konfiguration').item.json.paperless_url }}/api/documents/{{ $json.doc_id }}/",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Token {{ $('Konfiguration').item.json.paperless_token }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "title",
                "value": "={{ $json.title }}"
              },
              {
                "name": "tags",
                "value": "={{ $json.tag_ids }}"
              }
            ]
          },
          "options": {}
        },
        "id": "1b57c3e6-b1ba-4895-9bbd-be311c8cdee3",
        "name": "Paperless - Dokument aktualisieren",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          4528,
          912
        ]
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "value": "gpt-5.4-mini",
            "mode": "list",
            "cachedResultName": "GPT-5.4-MINI"
          },
          "responses": {
            "values": [
              {
                "content": "={{$json.userPrompt}}"
              },
              {
                "role": "system",
                "content": "={{$json.systemPrompt}}"
              }
            ]
          },
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 2.1,
        "position": [
          3952,
          912
        ],
        "id": "ecb2e825-b314-4acf-9448-30ed1a2e169e",
        "name": "Message a model1",
        "credentials": {
          "openAiApi": {
            "id": "EVf6W0jyq4ACcS36",
            "name": "OpenAI account"
          }
        }
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const doc = $json;\nconst tagsResponse = $items('Paperless - Tags holen', 0, 0)[0].json;\nconst docTypesResponse = $items('Paperless - Dokumenttypen holen', 0, 0)[0].json;\nconst config = $items('Konfiguration', 0, 0)[0].json;\nconst tags = (tagsResponse.results || []).map(t => ({ id: t.id, name: t.name }));\nconst docTypes = (docTypesResponse.results || []).map(d => ({ id: d.id, name: d.name }));\nconst rawContent = doc.content || doc.notes || '';\nconst content = String(rawContent).slice(0, config.max_content_chars || 12000);\nconst systemPrompt = 'Du analysierst Paperless-Dokumente. Gib valides JSON zurueck ohne Markdown. Erzeuge Titel, waehle document_type_id und tag_ids.';\nconst userPrompt = JSON.stringify({ id: doc.id, title: doc.title, original_file_name: doc.original_file_name, created: doc.created, docTypes, tags, content });\nreturn { json: { doc_id: doc.id, current_title: doc.title || '', current_tags: doc.tags || [], current_document_type: doc.document_type || null, paperless_url: config.paperless_url, paperless_token: config.paperless_token, systemPrompt, userPrompt } };"
        },
        "id": "42461927-76bf-4a9e-9da3-f40ae23264d2",
        "name": "KI Prompt bauen",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3728,
          912
        ]
      },
      {
        "parameters": {
          "url": "={{ $('Konfiguration').item.json.paperless_url }}/api/documents/{{ $json.id }}/download/",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Token {{ $('Konfiguration').item.json.paperless_token }}"
              }
            ]
          },
          "options": {
            "allowUnauthorizedCerts": true,
            "response": {
              "response": {
                "responseFormat": "file"
              }
            }
          }
        },
        "id": "3671f610-87a6-46f6-b958-c0af15198504",
        "name": "Paperless - Datei als Binary laden",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          4976,
          912
        ]
      },
      {
        "parameters": {
          "jsCode": "const now = new Date();\nconst folderName = now.getFullYear() + '-' + String(now.getMonth() + 1).padStart(2, '0');\nreturn $input.all().map(item => { const title = item.json.title || item.json.original_file_name || 'Dokument-' + item.json.id; const safeTitle = String(title).replace(/[/:*?\"<>|]/g, '-').replace(/\\s+/g, ' ').trim(); return { json: { id: item.json.id, title: safeTitle, folderName, fileName: safeTitle.toLowerCase().endsWith('.pdf') ? safeTitle : safeTitle + '.pdf' } }; });"
        },
        "id": "dbc271f4-b767-49cf-8fbc-c88222a60604",
        "name": "Nextcloud - Upload vorbereiten1",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          4752,
          912
        ]
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "={{ $('Konfiguration').item.json.nextcloud_url }}/remote.php/dav/files/{{ $('Konfiguration').item.json.nextcloud_user }}/{{ $('Nextcloud - Upload vorbereiten1').item.json.folderName }}/{{ $('Nextcloud - Upload vorbereiten1').item.json.fileName }}",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBasicAuth",
          "sendBody": true,
          "contentType": "binaryData",
          "inputDataFieldName": "data",
          "options": {
            "timeout": 300000
          }
        },
        "id": "fad633fe-b54d-4563-b5d6-a8d06be7e5b7",
        "name": "Nextcloud - Datei hochladen1",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          5200,
          976
        ],
        "credentials": {
          "httpBasicAuth": {
            "id": "fWv04bRwaM2io6AB",
            "name": "Unnamed credential"
          }
        },
        "continueOnFail": true,
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 2000
      },
      {
        "parameters": {
          "jsCode": "const results = $json.results || [];\nconst kiVerarbeitetTagId = 1;\nreturn results.filter(doc => !(doc.tags || []).includes(kiVerarbeitetTagId)).map(doc => ({ json: doc }));"
        },
        "id": "322bea21-c170-4a8d-93d0-e49c70030523",
        "name": "Dokumente aufteilen",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3056,
          976
        ]
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          3280,
          976
        ],
        "id": "d4319680-3ff9-4307-8efe-0a0a7f667fc4",
        "name": "Loop Over Items"
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "minutes",
                "minutesInterval": 10
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          2384,
          720
        ],
        "id": "ed268d4e-1142-4cd5-9925-82d7096f05c6",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "chatId": "6422093154",
          "text": "Paperless Daten verarbeitet",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          3584,
          704
        ],
        "id": "93546820-5869-4b28-a572-dcb0522a66ab",
        "name": "Push a message",
        "executeOnce": true,
        "credentials": {
          "telegramApi": {
            "id": "qBKlXY3RPqAi76pW",
            "name": "Telegram account"
          }
        },
        "webhookId": "a9c285fd-e611-4707-9d62-8aa8e99c3fb9"
      },
      {
        "id": "hc-ping-4e634337",
        "name": "HC Ping",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          9000,
          0
        ],
        "parameters": {
          "method": "GET",
          "url": "https://hc.paun01.de/ping/4e634337-f4f7-4740-8933-4ee0715786f6",
          "options": {
            "continueOnFail": true
          }
        }
      },
      {
        "id": "mkcol-folder-create",
        "name": "Nextcloud - Ordner anlegen",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          5000,
          876
        ],
        "continueOnFail": false,
        "parameters": {
          "method": "MKCOL",
          "url": "={{ $('Konfiguration').item.json.nextcloud_url }}/remote.php/dav/files/{{ $('Konfiguration').item.json.nextcloud_user }}/{{ $('Nextcloud - Upload vorbereiten1').item.json.folderName }}/",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBasicAuth",
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "credentials": {
          "httpBasicAuth": {
            "id": "fWv04bRwaM2io6AB",
            "name": "Unnamed credential"
          }
        },
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 2000
      }
    ],
    "connections": {
      "Konfiguration": {
        "main": [
          [
            {
              "node": "Paperless - Tags holen",
              "type": "main",
              "index": 0
            },
            {
              "node": "Paperless - Dokumenttypen holen",
              "type": "main",
              "index": 0
            },
            {
              "node": "Paperless - Dokumente holen",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Paperless - Dokumente holen": {
        "main": [
          [
            {
              "node": "Dokumente aufteilen",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Paperless - Dokumentdetails holen": {
        "main": [
          [
            {
              "node": "KI Prompt bauen",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "KI Ergebnis normalisieren": {
        "main": [
          [
            {
              "node": "Paperless - Dokument aktualisieren",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Paperless - Dokument aktualisieren": {
        "main": [
          [
            {
              "node": "Nextcloud - Upload vorbereiten1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Message a model1": {
        "main": [
          [
            {
              "node": "KI Ergebnis normalisieren",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "KI Prompt bauen": {
        "main": [
          [
            {
              "node": "Message a model1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Paperless - Datei als Binary laden": {
        "main": [
          [
            {
              "node": "Nextcloud - Datei hochladen1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Nextcloud - Upload vorbereiten1": {
        "main": [
          [
            {
              "node": "Paperless - Datei als Binary laden",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Dokumente aufteilen": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [
            {
              "node": "Push a message",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Paperless - Dokumentdetails holen",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Nextcloud - Datei hochladen1": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Konfiguration",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Push a message": {
        "main": [
          [
            {
              "node": "HC Ping",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Paperless - Tags holen": {
        "main": [
          [
            {
              "node": "HC Ping",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Nextcloud - Ordner anlegen": {
        "main": [
          [
            {
              "node": "Nextcloud - Datei hochladen1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Dennis Paun",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "activeVersionId": "cede3f45-332c-4a58-b210-73490d00022b",
  "connections": {
    "Konfiguration": {
      "main": [
        [
          {
            "node": "Paperless - Tags holen",
            "type": "main",
            "index": 0
          },
          {
            "node": "Paperless - Dokumenttypen holen",
            "type": "main",
            "index": 0
          },
          {
            "node": "Paperless - Dokumente holen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Paperless - Dokumente holen": {
      "main": [
        [
          {
            "node": "Dokumente aufteilen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Paperless - Dokumentdetails holen": {
      "main": [
        [
          {
            "node": "KI Prompt bauen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "KI Ergebnis normalisieren": {
      "main": [
        [
          {
            "node": "Paperless - Dokument aktualisieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Paperless - Dokument aktualisieren": {
      "main": [
        [
          {
            "node": "Nextcloud - Upload vorbereiten1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "KI Ergebnis normalisieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "KI Prompt bauen": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Paperless - Datei als Binary laden": {
      "main": [
        [
          {
            "node": "Nextcloud - Datei hochladen1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nextcloud - Upload vorbereiten1": {
      "main": [
        [
          {
            "node": "Paperless - Datei als Binary laden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dokumente aufteilen": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Push a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Paperless - Dokumentdetails holen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nextcloud - Datei hochladen1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Konfiguration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Push a message": {
      "main": [
        [
          {
            "node": "HC Ping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Paperless - Tags holen": {
      "main": [
        [
          {
            "node": "HC Ping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nextcloud - Ordner anlegen": {
      "main": [
        [
          {
            "node": "Nextcloud - Datei hochladen1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-04-23T09:48:40.361Z",
  "id": "LZq2tcEIQElLS3dU",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Paperless KI Analyse - Titel Tags Kategorie",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "365b229b-173e-44da-89ba-e4208fedc173",
              "name": "=paperless_url",
              "value": "https://paperless.paun01.de",
              "type": "string"
            },
            {
              "id": "0c21042c-3103-45ee-baed-4160adf37a48",
              "name": "paperless_token",
              "value": "54f69347ba18315b156062cf21e1012d7e55c84f",
              "type": "string"
            },
            {
              "id": "7282923e-0ced-48bf-abfd-202440c69b3a",
              "name": "page_size",
              "value": "200",
              "type": "string"
            },
            {
              "id": "6bdc5243-4a3a-4568-913f-1f8f4abf3709",
              "name": "nextcloud_url",
              "value": "http://192.168.178.42:8080/",
              "type": "string"
            },
            {
              "id": "ec867d54-b55e-444d-ac38-0ac1968f47c4",
              "name": "nextcloud_user",
              "value": "n8n",
              "type": "string"
            },
            {
              "id": "fc550aab-6834-4ccf-8239-05b046178310",
              "name": "nextcloud_password",
              "value": "Klarinette23#",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "9cfc56d9-d230-4b04-9816-76906aaf7fe8",
      "name": "Konfiguration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2608,
        720
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.paperless_url }}/api/tags/?page_size=200",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Token {{ $json.paperless_token }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1e098c8a-7ef7-492a-858a-49fdd056fa90",
      "name": "Paperless - Tags holen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2832,
        592
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.paperless_url }}/api/documents/?page_size={{ $json.page_size }}&ordering=-created",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Token {{ $json.paperless_token }}"
            }
          ]
        },
        "options": {}
      },
      "id": "2d2f0330-dff5-4189-9054-a2acbbd2da98",
      "name": "Paperless - Dokumenttypen holen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2832,
        784
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.paperless_url }}/api/documents/?page_size=200&ordering=-created",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Token {{ $json.paperless_token }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ec5f91f4-48a5-46e8-ac5d-792867a59bb3",
      "name": "Paperless - Dokumente holen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2832,
        976
      ]
    },
    {
      "parameters": {
        "url": "={{ $('Konfiguration').item.json.paperless_url }}/api/documents/{{ $json.id }}/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Token {{ $('Konfiguration').item.json.paperless_token }}"
            }
          ]
        },
        "options": {}
      },
      "id": "4ce5202e-0045-44b2-9623-1f89e3d13e4a",
      "name": "Paperless - Dokumentdetails holen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3504,
        912
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const text = $json.output?.[0]?.content?.[0]?.text || '';\nconst ai = JSON.parse(text);\nconst previous = $('KI Prompt bauen').first().json;\nconst tagIds = Array.from(new Set([1, ...(ai.tag_ids || [])]));\nreturn { json: { doc_id: previous.doc_id, paperless_url: previous.paperless_url, paperless_token: previous.paperless_token, title: ai.title, tag_ids: tagIds } };"
      },
      "id": "067ef4f9-7206-454d-ab91-803df2f2afd1",
      "name": "KI Ergebnis normalisieren",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4304,
        912
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $('Konfiguration').item.json.paperless_url }}/api/documents/{{ $json.doc_id }}/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Token {{ $('Konfiguration').item.json.paperless_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{ $json.title }}"
            },
            {
              "name": "tags",
              "value": "={{ $json.tag_ids }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1b57c3e6-b1ba-4895-9bbd-be311c8cdee3",
      "name": "Paperless - Dokument aktualisieren",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4528,
        912
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5.4-mini",
          "mode": "list",
          "cachedResultName": "GPT-5.4-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "={{$json.userPrompt}}"
            },
            {
              "role": "system",
              "content": "={{$json.systemPrompt}}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        3952,
        912
      ],
      "id": "ecb2e825-b314-4acf-9448-30ed1a2e169e",
      "name": "Message a model1",
      "credentials": {
        "openAiApi": {
          "id": "EVf6W0jyq4ACcS36",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const doc = $json;\nconst tagsResponse = $items('Paperless - Tags holen', 0, 0)[0].json;\nconst docTypesResponse = $items('Paperless - Dokumenttypen holen', 0, 0)[0].json;\nconst config = $items('Konfiguration', 0, 0)[0].json;\nconst tags = (tagsResponse.results || []).map(t => ({ id: t.id, name: t.name }));\nconst docTypes = (docTypesResponse.results || []).map(d => ({ id: d.id, name: d.name }));\nconst rawContent = doc.content || doc.notes || '';\nconst content = String(rawContent).slice(0, config.max_content_chars || 12000);\nconst systemPrompt = 'Du analysierst Paperless-Dokumente. Gib valides JSON zurueck ohne Markdown. Erzeuge Titel, waehle document_type_id und tag_ids.';\nconst userPrompt = JSON.stringify({ id: doc.id, title: doc.title, original_file_name: doc.original_file_name, created: doc.created, docTypes, tags, content });\nreturn { json: { doc_id: doc.id, current_title: doc.title || '', current_tags: doc.tags || [], current_document_type: doc.document_type || null, paperless_url: config.paperless_url, paperless_token: config.paperless_token, systemPrompt, userPrompt } };"
      },
      "id": "42461927-76bf-4a9e-9da3-f40ae23264d2",
      "name": "KI Prompt bauen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3728,
        912
      ]
    },
    {
      "parameters": {
        "url": "={{ $('Konfiguration').item.json.paperless_url }}/api/documents/{{ $json.id }}/download/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Token {{ $('Konfiguration').item.json.paperless_token }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "3671f610-87a6-46f6-b958-c0af15198504",
      "name": "Paperless - Datei als Binary laden",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4976,
        912
      ]
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst folderName = now.getFullYear() + '-' + String(now.getMonth() + 1).padStart(2, '0');\nreturn $input.all().map(item => { const title = item.json.title || item.json.original_file_name || 'Dokument-' + item.json.id; const safeTitle = String(title).replace(/[/:*?\"<>|]/g, '-').replace(/\\s+/g, ' ').trim(); return { json: { id: item.json.id, title: safeTitle, folderName, fileName: safeTitle.toLowerCase().endsWith('.pdf') ? safeTitle : safeTitle + '.pdf' } }; });"
      },
      "id": "dbc271f4-b767-49cf-8fbc-c88222a60604",
      "name": "Nextcloud - Upload vorbereiten1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4752,
        912
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $('Konfiguration').item.json.nextcloud_url }}/remote.php/dav/files/{{ $('Konfiguration').item.json.nextcloud_user }}/{{ $('Nextcloud - Upload vorbereiten1').item.json.folderName }}/{{ $('Nextcloud - Upload vorbereiten1').item.json.fileName }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {
          "timeout": 300000
        }
      },
      "id": "fad633fe-b54d-4563-b5d6-a8d06be7e5b7",
      "name": "Nextcloud - Datei hochladen1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5200,
        976
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "fWv04bRwaM2io6AB",
          "name": "Unnamed credential"
        }
      },
      "continueOnFail": true,
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "jsCode": "const results = $json.results || [];\nconst kiVerarbeitetTagId = 1;\nreturn results.filter(doc => !(doc.tags || []).includes(kiVerarbeitetTagId)).map(doc => ({ json: doc }));"
      },
      "id": "322bea21-c170-4a8d-93d0-e49c70030523",
      "name": "Dokumente aufteilen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3056,
        976
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        3280,
        976
      ],
      "id": "d4319680-3ff9-4307-8efe-0a0a7f667fc4",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        2384,
        720
      ],
      "id": "ed268d4e-1142-4cd5-9925-82d7096f05c6",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "chatId": "6422093154",
        "text": "Paperless Daten verarbeitet",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3584,
        704
      ],
      "id": "93546820-5869-4b28-a572-dcb0522a66ab",
      "name": "Push a message",
      "executeOnce": true,
      "credentials": {
        "telegramApi": {
          "id": "qBKlXY3RPqAi76pW",
          "name": "Telegram account"
        }
      },
      "webhookId": "a9c285fd-e611-4707-9d62-8aa8e99c3fb9"
    },
    {
      "id": "hc-ping-4e634337",
      "name": "HC Ping",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        9000,
        0
      ],
      "parameters": {
        "method": "GET",
        "url": "https://hc.paun01.de/ping/4e634337-f4f7-4740-8933-4ee0715786f6",
        "options": {
          "continueOnFail": true
        }
      }
    },
    {
      "id": "mkcol-folder-create",
      "name": "Nextcloud - Ordner anlegen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5000,
        876
      ],
      "continueOnFail": false,
      "parameters": {
        "method": "MKCOL",
        "url": "={{ $('Konfiguration').item.json.nextcloud_url }}/remote.php/dav/files/{{ $('Konfiguration').item.json.nextcloud_user }}/{{ $('Nextcloud - Upload vorbereiten1').item.json.folderName }}/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "credentials": {
        "httpBasicAuth": {
          "id": "fWv04bRwaM2io6AB",
          "name": "Unnamed credential"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    }
  ],
  "pinData": {},
  "repo_name": "n8n-backup",
  "repo_owner": "D3nP4",
  "repo_path": "workflows/",
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-04-23T09:48:40.366Z",
      "createdAt": "2026-04-23T09:48:40.366Z",
      "role": "workflow:owner",
      "workflowId": "LZq2tcEIQElLS3dU",
      "projectId": "Iyrtd5xOBA8QCG1f"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-07-22T06:51:19.427Z",
  "versionId": "cede3f45-332c-4a58-b210-73490d00022b"
}